.breadcrumbs {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 8px;
    font-size: 12px;
    margin-bottom: 24px;
}

.breadcrumbs__divider,
.breadcrumbs__link {
    color: var(--primary-500);
}

.breadcrumbs__current {
    font-weight: 600;
    color: var(--secondary-400);
}