.cems-breadcrumbs {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 8px;
    font-size: 12px;
    margin-bottom: 24px;
}

.cems-breadcrumbs__divider,
.cems-breadcrumbs__link {
    color: var(--primary-500);
}

.cems-breadcrumbs__link:hover {
    color: var(--primary-700);
    text-decoration: underline;
}

.cems-breadcrumbs__current {
    font-weight: 600;
    color: var(--secondary-400);
}