.cems-button {
    border-width: 1px solid var(--primary-500);
    border-radius: 12px;
    padding: 12px 24px;
    font-size: 14px;
}

.cems-button--accent {
    background-color: var(--primary-500);
    color: white;
    transition: .cems-3s all ease;
}

.cems-button--accent:hover {
    background-color: var(--primary-700);
}

.cems-button--second {
    background-color: transparent;
    color: var(--primary-500);
    border: 1px solid var(--primary-500);
    transition: .cems-3s all ease;
}

.cems-button--second:hover {
    background-color: var(--primary-500);
    color: white;
}