.single_add_to_cart_button,
.button {
    border-width: 1px solid var(--primary-500);
    border-radius: 12px;
    padding: 12px 24px;
    font-size: 14px;
}


.single_add_to_cart_button,
.button--accent {
    background-color: var(--primary-500);
    color: white;
    transition: .3s all ease;
}

.single_add_to_cart_button:hover,
.button--accent:hover {
    background-color: var(--primary-700);
}

.button--second {
    background-color: transparent;
    color: var(--primary-500);
    border: 1px solid var(--primary-500);
    transition: .3s all ease;
}

.button--second:hover {
    background-color: var(--primary-500);
    color: white;
}