.callback {
    padding: var(--padding-24);
    display: grid;
    gap: 24px;
}

.callback__title {
    font-size: 20px;
    color: var(--secondary-600);
}

.callback__inputs {
    display: grid;
    gap: 12px;
}

.callback__links {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.callback__link {
    display: flex;
    align-items: center;
    gap: 4px;
    color: var(--secondary-700);
    font-size: 12px;
}

.callback__link:hover {
    color: var(--secondary-500);
    text-decoration: underline;
}

.callback__link::before {
    content: '';
    width: 24px;
    height: 24px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.callback__link--max:hover,
.callback__link--whatsapp:hover {
    color: var(--secondary-400);
    text-decoration: none;
}

.callback__link--max::before {
    background-image: url(../icons/max--color.svg);
}

.callback__link--whatsapp::before {
    background-image: url(../icons/whatsapp--color.svg);
}