.catalog {
    position: absolute;
    z-index: 100;
    width: 100%;
    max-height: calc(100vh - 200px);
    left: 0;
    top: 0;
    background-color: var(--neutral-100);
    padding: 8px;
    /* overflow: scroll; */
    display: flex;
    gap: 8px;

}

.catalog__button-close {
    position: absolute;
    right: 16px;
    top: 16px;
    width: 32px;
    height: 32px;
    background-image: url(../icons/close.svg);
    background-size: 24px;
    background-position: center;
    background-repeat: no-repeat;
}

.catalog__sidebar {
    width: 360px;
    background-color: white;
    border: 1px solid var(--neutral-200);
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
    max-height: calc(100vh - 224px);
    overflow: scroll;
}

.catalog__aside {
    background-color: white;
    width: 100%;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
    border: 1px solid var(--neutral-200);
}

.catalog__menu-items {
    flex-shrink: 0;
    /* overflow: scroll; */
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
}

.catalog__menu-item {
    cursor: pointer;
    color: var(--primary-900);
    font-size: 14px;
    font-weight: 600;
    display: flex;
    gap: 16px;
    align-items: center;
    justify-content: space-between;
    padding: 16px 8px 16px 16px;
}

.catalog__menu-item:not(:last-child) {
    border-bottom: 1px solid var(--neutral-200);
}

.catalog__menu-item::after {
    content: '';
    width: 16px;
    height: 16px;
    background-image: url(../icons/arrow.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.catalog__menu-item--active,
.catalog__menu-item:hover {
    padding-left: 14px;
    border-left: 2px solid var(--primary-500);
}

.catalog__menu-item--active>span,
.catalog__menu-item:hover>span {
    color: var(--primary-500);
}


.catalog__submenu {
    position: absolute;
    top: 32px;
    left: 320px;
    flex-wrap: wrap;
    gap: 32px;
    font-size: 13px;
    line-height: 148%;

    display: none;
    overflow: scroll;
    width: 67%;
    height: 91%;
    max-height: calc(91vh - 200px);
}

.catalog__menu-item--active .catalog__submenu {
    display: flex;
}

.catalog__submenu-items {
    display: flex;
    flex-direction: column;
    gap: 12px;
    /* max-width: 20%; */
}

.catalog__submenu-item:first-child .catalog__submenu-link {
    color: var(--secondary-600);
    font-weight: 600;
    margin-bottom: 8px;
}

.catalog__submenu-link {
    color: var(--secondary-400);
    font-weight: 400;
}