.mobile {
    position: absolute;
    padding-block: 16px;
    z-index: 100;
    left: 8px;
    right: 8px;
    top: 16px;
    bottom: 16px;
    border-radius: 8px;
    background-color: white;
    border: 1px solid var(--neutral-200);
    overflow: hidden;

    background-color: red;
}

.mobile__inner {
    background-color: blue;
    height: 100%;
    overflow: hidden;
}

.mobile__main-menu {
    /* padding: 0 16px 16px 16px; */

    overflow: scroll;
    height: 100%;
    padding-bottom: 32px;
}

.mobile__top {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--primary-500);
    font-size: 14px;
    text-transform: uppercase;
}

.mobile__menu-title {
    width: 100%;
    color: var(--primary-900);
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.mobile__menu-title::after {
    content: '';
    width: 16px;
    height: 16px;
    background-image: url(../icons/arrow.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.mobile__close {
    width: 26px;
    height: 26px;
    background-image: url(../icons/close.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.mobile__menu-item {
    border-bottom: 1px solid var(--neutral-100);
    cursor: pointer;
    display: flex;
    align-items: center;
    padding-inline: 16px;
}

.mobile__menu-item>* {
    padding-block: 16px;
}

.mobile__menu-item--text {
    cursor: default;
}

.mobile__menu-link {
    display: flex;
}

.mobile__menu-item-wrapper {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 13px;
}

.mobile__menu-item-wrapper img {
    width: 24px;
    height: 24px;
}

.mobile__menu-item-wrapper span.color--primary-900 {
    font-weight: 600;
}

.mobile .mobile__menu-link {
    color: var(--secondary-400);
    font-size: 13px;
    font-weight: 600;
}

.mobile__menu-item-wrapper .mobile__menu-link {
    color: var(--primary-900);
    font-size: 13px;
    font-weight: 600;
}