.modal {
    position: fixed;
    z-index: 1050;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: none;
    outline: 0;
    overflow-y: auto;
}

.modal.fade .modal-dialog {
    transition: transform 0.3s ease-out, opacity 0.3s ease-out;
    transform: translate(0, -50%);
    opacity: 0;
}

.modal.in .modal-dialog {
    transform: translate(0, 0);
    opacity: 1;
}

.modal-dialog {
    /* position: relative; */
}

.modal-content {
    /* position: relative; */
}

.modal-backdrop {
    position: fixed;
    z-index: 1040;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #03162B;
}

.modal-backdrop.fade {
    opacity: 0;
    filter: alpha(opacity=0);
}

.modal-backdrop.in {
    opacity: 0.48;
    filter: alpha(opacity=48);
}

.modal-body {
    display: block;
}


/*  */

.screen-reader-response,
.hidden-fields-container {
    display: none;
}

.modal-open {
    overflow: hidden;
}

.modal-close {
    position: absolute;
    width: 24px;
    height: 24px;
    top: 24px;
    right: 24px;
    background-image: url(../icons/close.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    color: transparent;
    cursor: pointer;
    z-index: 99;
}

.modal-dialog {
    margin: 128px auto 0 auto;
    padding: 8px;
    border-radius: 12px;
    background-color: var(--neutral-100);
}

#modal-callback .modal-dialog {
    max-width: 380px;
}

.modal-content {
    border-radius: 12px;
    border: 1px solid var(--neutral-200);
    background-color: white;
    padding: 24px;
}

.modal-win {
    display: grid;
    gap: 32px;
}

.modal-name {
    font-size: 20px;
    font-weight: 500;
    text-align: center;
}

.modal-dialog form {
    width: 100%;
}