.modal {
    position: fixed;
    z-index: 1050;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: none;
    outline: 0;
    overflow-y: auto;
}

.modal.fade .modal-dialog {
    transition: transform 0.3s ease-out, opacity 0.3s ease-out;
    transform: translate(0, -50%);
    opacity: 0;
}

.modal.in .modal-dialog {
    transform: translate(0, 0);
    opacity: 1;
}

.modal-dialog {
    /* position: relative; */
}

.modal-content {
    /* position: relative; */
}

.modal-backdrop {
    position: fixed;
    z-index: 1040;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #03162B;
}

.modal-backdrop.fade {
    opacity: 0;
    filter: alpha(opacity=0);
}

.modal-backdrop.in {
    opacity: 0.48;
    filter: alpha(opacity=48);
}

.modal-body {
    display: block;
}


/*  */
p:has(input[type="hidden"][name="tovar"]),
.js-price,
.wpcf7-response-output,
.screen-reader-response,
.hidden-fields-container {
    display: none;
}

.modal-open {
    overflow: hidden;
}

.modal {
    margin-inline: 16px;
}

.modal-close {
    position: absolute;
    width: 24px;
    height: 24px;
    top: 24px;
    right: 24px;
    background-image: url(../icons/close.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    color: transparent;
    cursor: pointer;
    z-index: 99;
}

.modal-dialog {
    margin: 128px auto 0 auto;
    padding: 8px;
    border-radius: 12px;
    background-color: var(--neutral-100);
}

#myModal .modal-dialog {
    max-width: 380px;
}

#myModal-oneclick .modal-dialog {
    max-width: 608px;
}

.modal-content {
    border-radius: 12px;
    border: 1px solid var(--neutral-200);
    background-color: white;
    padding: 24px;
}

.modal-win {
    display: grid;
    gap: 24px;
}

.modal-name {
    font-size: 20px;
    font-weight: 500;
    text-align: center;
}

#myModal-oneclick .modal-name {
    font-size: 16px;
    color: var(--primary-500);
    font-weight: 400;
}

.js-title {
    color: var(--secondary-600);
    font-weight: 500;
    font-size: 20px;
    line-height: 148%;
    text-align: center;
    max-width: 380px;
    margin: 0 auto;
}

.modal-dialog form {
    width: 100%;
    display: grid;
    gap: 16px;
}

#myModal-oneclick .modal-dialog form {
    row-gap: 24px;
}

#myModal-oneclick .modal-dialog form .wrapper1,
#myModal-oneclick .modal-dialog form .wrapper2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
}

.modate-calculated-976,
#myModal-oneclick .modate p {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#myModal-oneclick .wrapper2>.modate {
    display: flex;
    align-content: center;
    justify-content: space-between;
}

#myModal-oneclick .wrapper2 .quantity {
    max-width: 116px;
}

#myModal-oneclick .wrapper2 .quantity p,
#myModal-oneclick .wrapper2 .quantity p span {
    height: 100%;
}

#myModal-oneclick .wrapper2 .quantity p input {
    height: 100%;
}

#myModal-oneclick .wrapper3 {
    display: flex;
    column-gap: 36px;
}

#myModal-oneclick .wrapper3>p {
    display: flex;
    gap: 12px;
}

#myModal-oneclick .wrapper3 p {
    font-size: 11px;
    color: var(--secondary-400);
    line-height: 148%;
}

#myModal-oneclick .wrapper3>p input[type="checkbox"] {
    padding-right: 12px;
}

#myModal-oneclick .wrapper3 p a {
    color: var(--primary-500);
    text-decoration: underline;
}

.modal-dialog form .calculated-976 input[type="text"] {
    border: none;
    background-color: transparent;
    padding: 0;
    border-radius: 0;
    text-align: right;
    color: var(--primary-500);
    font-size: 20px;
    font-weight: 500;
}

.modate-calculated-976 span {
    color: var(--secondary-400);
    font-size: 12px;
    font-weight: 500;
    text-align: right;
}

.modal-dialog form .calculated-976 input[type="text"]:focus {
    border: none;
}

#myModal-oneclick .modate .calculated-976__wrapper p {
    display: grid;
}

.modate p span.subtitle {
    font-size: 12px;
    font-weight: 500;
    color: var(--secondary-600);
    white-space: nowrap;
}

.modal-dialog form input[type="text"],
.modal-dialog form input[type="email"],
.modal-dialog form input[type="tel"],
.modal-dialog form textarea {
    width: 100%;
    border-radius: 12px;
    border: 1px solid var(--neutral-200);
    background-color: var(--neutral-100);
    padding: 12px 16px;
    color: black;
}

.modal-dialog form textarea {
    height: 96px;
}

.modal-dialog form input[type="text"]::placeholder,
.modal-dialog form input[type="email"]::placeholder,
.modal-dialog form input[type="tel"]::placeholder,
.modal-dialog form textarea::placeholder {
    font-size: 14px;
    line-height: 148%;
    color: var(--secondary-400);
    transition: .3s all ease;
}

.modal-dialog form input[type="text"]:focus,
.modal-dialog form input[type="email"]:focus,
.modal-dialog form input[type="tel"]:focus,
.modal-dialog form textarea:focus {
    border: 1px solid var(--primary-500);
}

.modal-dialog form input[type="checkbox"] {
    width: 18px;
    height: 18px;
}

.modal-dialog form .data p {
    font-size: 12px;
    line-height: 148%;
    color: var(--secondary-400);
}

.modal-dialog form .data p a {
    color: var(--primary-500);
}

.modal-dialog form .data {
    display: flex;
    flex-wrap: wrap;
}

.modal-dialog form .data p:nth-child(1) {
    width: 32px;
}

.modal-dialog form .data p:nth-child(2) {
    width: calc(100% - 32px);
}

.modal-dialog form .data p:nth-child(3) {
    margin-top: 12px;
    display: block;
}

.modal-dialog form input[type="submit"] {
    width: 100%;
    padding: 12px 24px;
    border-radius: 12px;
    border: 1px solid var(--primary-500);
    background-color: var(--primary-500);
    color: white;
    font-size: 14px;
    font-weight: 700;
    line-height: 148%;
    cursor: pointer;
    transition: .3s all ease;
}

.modal-dialog form input[type="submit"]:hover {
    background-color: var(--primary-700);
}