.products {
    padding: 24px;
    color: var(--secondary-600);
}

.products__title {
    font-size: 24px;
    margin-bottom: 24px;
}


.products-item {
    padding-block: 16px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    column-gap: 16px;
    border-bottom: 1px solid var(--neutral-200);
}

@media (max-width: 1199px) {
    .products-item {
        grid-template-columns: 1fr;
        row-gap: 24px;
    }
}

.products-item__column-1 {
    display: grid;
    align-items: center;
    column-gap: 16px;
    grid-template-columns: 82px 2fr 1fr;
}

@media (max-width: 1199px) {
    .products-item__column-1 {
        grid-template-columns: 82px 1fr 1fr;
    }
}

@media (max-width: 599px) {
    .products-item__column-1 {
        grid-template-columns: 1fr;
        row-gap: 16px;
    }
}


.products-item__column-2 {
    display: grid;
    align-items: center;
    column-gap: 16px;
    grid-template-columns: 124px 1fr 117px;
}

@media (max-width: 1199px) {
    .products-item__column-2 {
        grid-template-columns: 124px 1fr 117px;
    }
}

@media (max-width: 599px) {
    .products-item__column-2 {
        grid-template-columns: 1fr;
        row-gap: 16px;
    }
}

.products-item__image {
    width: 82px;
}

.products-item__image img {
    width: 82px;
    height: 100%;
    object-fit: cover;
}

.products-item__wrapper {
    display: grid;
}

.products-item__title {
    font-size: 16px;
    font-weight: 300;
    margin-top: 16px;
    line-height: 125%;
}

@media (max-width: 1199px) {
    .products-item__title {
        font-size: 12px;
    }
}

.products-item__price {
    color: var(--primary-500);
    font-size: 20px;
    justify-self: center;
}

.products-item__price::after {
    content: "₽";
}

.products-item__description {
    padding-left: 32px;
    display: grid;
    font-size: 14px;
    line-height: 148%;
    color: var(--secondary-600);
}

@media (max-width: 599px) {
    .products-item__description {
        padding-left: 0;
    }
}

.products-item__description p {
    display: flex;
    gap: 4px;
}

.products-item__price--small {
    font-size: 14px;
    justify-self: flex-start;
}