.product__tabs {
    width: 100%;
    display: grid;
    gap: 8px;
}

.product__tabs-nav {
    padding: 4px;
    display: flex;
    gap: 32px;
    align-items: center;
    justify-content: space-between;
}

.product__tabs-button {
    padding: 16px 32px;
    width: 100%;
    font-size: 16px;
    text-transform: uppercase;
    border-radius: 12px;
    color: var(--secondary-600);
}

.product__tabs-button--active {
    background-color: var(--neutral-500);
    color: var(--primary-500);
}

.product__tabs-content {
    padding: 24px;
}

.product__tab#description {
    display: grid;
    gap: 24px;
}

.product__tabs-content p {
    font-size: 14px;
    color: var(--secondary-400);
    line-height: 148%;
}

.product__tab#specifications {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 12px;
}

.product__specifications {
    display: grid;
}

.product__specification {
    display: flex;
    padding: 12px;
    align-items: center;
    justify-content: space-between;
    border-radius: 8px;
    min-height: 67px;
}

.product__specification:nth-child(odd) {
    background-color: var(--neutral-100);
}


.product__specification-title {
    width: 70%;
    font-size: 14px;
    line-height: 148%;
    color: var(--secondary-400);
}

.product__specification-subtitle {
    font-size: 14px;
    line-height: 148%;
    color: var(--primary-500);
}

.product__tab#payment-delivery {
    display: grid;
    gap: 16px;
}

.product__tab-title {
    line-height: 148%;
    font-size: 20px;
    font-weight: 500;
    color: var(--secondary-600);
}

.product__tab-wrapper {
    display: grid;
    gap: 16px;
}

.product__tab-subtitle {
    font-size: 14px;
    color: var(--secondary-600);
}

.product__tab-list {
    margin-left: 24px;
    color: var(--secondary-400);
    font-size: 14px;
    line-height: 148%;
}

.product__tab-list li {
    list-style: disc;
}

.product__tab-list .cards-list li {
    list-style: none;
}

.cards-list {
    margin-top: 16px;
    display: flex;
    gap: 8px;
}

.cards-list li {
    width: 48px;
    height: 30px;
}

.cards-list li img {
    width: 100%;
    height: 100%;
}

.product__tab-map {
    width: 100%;
    height: 450px;
    border-radius: 16px;
    overflow: hidden;
}

.product__tab-map img {
    width: 100%
}