.cems-quantity {
    width: 100%;
    height: 44px;
    padding: 4px;
    background-color: var(--neutral-400);
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 8px;
}

.cems-quantity__input {
    background-color: var(--neutral-100);
    border: none;
    border-radius: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    color: var(--secondary--600);
}

.cems-quantity__minus,
.cems-quantity__plus {
    touch-action: manipulation;
    padding-inline: 16px;
    /* width: 36px; */
    height: 100%;
    background-color: white;
    color: var(--primary-500);
    font-size: 20px;
    font-weight: 500;
    transition: .cems-3s all ease;
}

.cems-quantity__minus:hover,
.cems-quantity__plus:hover {
    background-color: var(--neutral-500);
}

.cems-quantity__minus {
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

.cems-quantity__plus {
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}

.cems-quantity--products {
    width: 116px;
}

@media (max-width: 599px) {
    .cems-quantity--products {
        width: 100%;
    }

}

.cems-quantity--products .cems-quantity__input {
    font-size: 16px;
    font-weight: 300;
}

.cems-quantity--products .cems-quantity__minus,
.cems-quantity--products .cems-quantity__plus {
    padding-inline: 12px;
    font-weight: 300;
}