<div class="breadcrumbs">
  <li><a class="breadcrumbs__link" href="">Главная</a></li>
  <span class="breadcrumbs__divider">/</span>
  <li><a class="breadcrumbs__link" href="">Магазин</a></li>
  <span class="breadcrumbs__divider">/</span>
  <li><a class="breadcrumbs__link" href="">Сухие смеси</a></li>
  <span class="breadcrumbs__divider">/</span>
  <li><a class="breadcrumbs__link" href="">Монтажно-кладочные смеси</a></li>
  <span class="breadcrumbs__divider">/</span>
  <li class="breadcrumbs__current">Монтажно-кладочная смесь М200 «Академия Смеси», 50кг (-15°С)</li>
</div>
