<div class="cems-breadcrumbs">
  <li><a class="cems-breadcrumbs__link" href="">Главная</a></li>
  <span class="cems-breadcrumbs__divider">/</span>
  <li><a class="cems-breadcrumbs__link" href="">Магазин</a></li>
  <span class="cems-breadcrumbs__divider">/</span>
  <li><a class="cems-breadcrumbs__link" href="">Сухие смеси</a></li>
  <span class="cems-breadcrumbs__divider">/</span>
  <li><a class="cems-breadcrumbs__link" href="">Монтажно-кладочные смеси</a></li>
  <span class="cems-breadcrumbs__divider">/</span>
  <li class="cems-breadcrumbs__current">Монтажно-кладочная смесь М200 «Академия Смеси», 50кг (-15°С)</li>
</div>
