<div class="cems-panel cems-footer">
  <div class="cems-footer__top">
    <div class="cems-footer__columns">
      <div class="cems-footer__column">
        <div class="cems-footer__logo">
          <img src="./images/logo.png" alt="" class="cems-footer__logo-image" />
        </div>

        <p class="cems-footer__info">
          © Интернет-магазин стройматериалов «Цемент–Снаб» 2001-2025.
          Предложения на сайте не являются публичной офертой
        </p>
      </div>
      <div class="cems-footer__column">
        <p class="cems-footer__column-title">ЦЕМЕНТ-СНАБ</p>
        <ul class="cems-footer__links">
          <li><a href="" class="cems-footer__link">О компании</a></li>
          <li><a href="" class="cems-footer__link">Производители</a></li>
          <li><a href="" class="cems-footer__link">Сертификаты</a></li>
          <li><a href="" class="cems-footer__link">Вакансии</a></li>
          <li>
            <a href="" class="cems-footer__link"
              >Согласие на обработку персональных данных</a
            >
          </li>
        </ul>
      </div>
      <div class="cems-footer__column">
        <p class="cems-footer__column-title">Где купить</p>
        <ul class="cems-footer__links">
          <li><a href="" class="cems-footer__link">Доставка</a></li>
          <li><a href="" class="cems-footer__link">Оплата</a></li>
          <li><a href="" class="cems-footer__link">Прайс-лист</a></li>
          <li><a href="" class="cems-footer__link">Статьи</a></li>
        </ul>
      </div>
      <div class="cems-footer__column">
        <p class="cems-footer__column-title">Контактная информация</p>
        <ul class="cems-footer__contacts">
          <li class="cems-footer__contact">
            <span>Телефон:</span
            ><a href="tel:+74993980591" class="cems-footer__link cems-footer__link--black"
              >+7 (499) 398-05-91</a
            >
          </li>
          <li class="cems-footer__contact">
            <span>Email:</span
            ><a
              href="mailto:info@cement-snab.ru"
              class="cems-footer__link cems-footer__link--black"
              >info@cement-snab.ru</a
            >
          </li>
          <li class="cems-footer__contact">
            <span>Адрес:</span
            ><span class="cems-text--black">123007, 1-й Силикатный проезд, 13</span>
          </li>
          <li class="cems-footer__contact">
            <span>Часы работы:</span
            ><span class="cems-text--black">Пн-Пт с 9:00 до 18:00</span>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="cems-footer__bottom">
    <a href="" class="cems-footer__link cems-footer__link--black"
      >Политика конфиденциальности</a
    >
    <a href="" class="cems-footer__link cems-footer__link--black">Карта сайта</a>
  </div>
</div>
