<div class="panel footer">
  <div class="footer__main">
    <div class="footer__columns">
      <div class="footer__column">
        <div class="footer__logo">
          <img src="" alt="" class="footer__logo-image" />
        </div>

        <span class="footer__info">
          © Интернет-магазин стройматериалов «Цемент–Снаб» 2001-2025. Предложения на сайте не являются публичной офертой
        </span>
      </div>
      <div class="footer__column">
        <span class="footer__column-title">ЦЕМЕНТ-СНАБ</span>
        <ul>
          <li><a href="" class="footer__link">О компании</a></li>
          <li><a href="" class="footer__link">Производители</a></li>
          <li><a href="" class="footer__link">Сертификаты</a></li>
          <li><a href="" class="footer__link">Вакансии</a></li>
          <li><a href="" class="footer__link">Согласие на обработку персональных данных</a></li>
        </ul>
      </div>
      <div class="footer__column">
        <span class="footer__column-title">Где купить</span>
        <ul>
          <li><a href="" class="footer__link">Доставка</a></li>
          <li><a href="" class="footer__link">Оплата</a></li>
          <li><a href="" class="footer__link">Прайс-лист</a></li>
          <li><a href="" class="footer__link">Статьи</a></li>
        </ul>
      </div>
      <div class="footer__column">
        <span class="footer__column-title">Контактная информация</span>
        <ul>
          <li>
            <span>Телефон:</span
            ><a href="tel:+74993980591" class="footer__link footer__link--black">+7 (499) 398-05-91</a>
          </li>
          <li>
            <span>Email:</span
            ><a href="mailto:info@cement-snab.ru" class="footer__link footer__link--black">info@cement-snab.ru</a>
          </li>
          <li><span>Адрес:</span><span class="text--black">123007, 1-й Силикатный проезд, 13</span></li>
          <li><span>Часы работы:</span><span class="text--black">Пн-Пт с 9:00 до 18:00</span></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer__bottom">
    <a href="" class="footer__link footer__link--black">Политика конфиденциальности</a>
    <a href="" class="footer__link footer__link--black">Карта сайта</a>
  </div>
</div>
