<div class="header">
  <div class="panel header__top">
    <ul class="nav__links">
      <li><a href="" class="nav__link">Главная</a></li>
      <li><a href="" class="nav__link">Магазин</a></li>
      <li><a href="" class="nav__link">О компании</a></li>
      <li><a href="" class="nav__link">Доставка</a></li>
      <li><a href="" class="nav__link">Оплата</a></li>
      <li><a href="" class="nav__link">Статьи</a></li>
      <li><a href="" class="nav__link">Контакты</a></li>
      <li><a href="" class="nav__link">Прайс-лист</a></li>
    </ul>

    <div class="header__buttons">
      <a class="header__button" href="">
        <img src="../icons/max.svg" alt="" />
      </a>
      <a class="header__button" href="">
        <img src="../icons/whatsapp.svg" alt="" />
      </a>
      <button class="header__button search">
        <img src="../icons/search.svg" alt="" />
      </button>
    </div>

    <div class="cart">
      <button class="button button--accent button--cart">Корзина</button>
      <span class="cart__count">999</span>
    </div>
  </div>

  <div class="header__main">
    <div class="header__logo">
      <img class="header__logo-image" src="../images/logo.png" alt="" />
    </div>
    <button class="button button--accent button--catalog">Каталог</button>

    <div class="info info--worktime">
      <span class="info__title">Пн-Пт</span>
      <span class="info__subtitle">с 9:00 до 18:00</span>
    </div>

    <div class="info info--email">
      <span class="info__title">e-mail:</span>
      <a class="info__subtitle info__link" href="mailto:info@cement-snab.ru">info@cement-snab.ru</a>
    </div>

    <div class="info info--phone">
      <a class="info__title info__title--phone" href="tel:+74993980591">+7 (499) 398-05-91</a>
      <button class="info__subtitle info__link info__link--callback">Заказать обратный звонок</button>
    </div>
  </div>
</div>
