<div class="product">
  <div class="product__top">
    <div class="product__top-wrapper">
      <h1 class="product__top-title" hidden--on-desktop>
        Монтажно-кладочная смесь М200 «Академия Смеси», 50кг (-15°С)
      </h1>

      <div class="product__slider"><%- include('../components/slider') %></div>
    </div>

    <div class="panel product__info" hidden--on-mobile>
      <h1 class="product__title">
        Монтажно-кладочная смесь М200 «Академия Смеси», 50кг (-15°С)
      </h1>
      <div class="product__specifications">
        <h3 class="product__specifications-title">Характеристики товара</h3>

        <div class="product__specification">
          <span class="product__specification-title">Производитель</span>
          <span class="product__specification-subtitle">Академия смеси</span>
        </div>
        <div class="product__specification">
          <span class="product__specification-title">Вес</span>
          <span class="product__specification-subtitle">50 кг</span>
        </div>
        <div class="product__specification">
          <span class="product__specification-title">Тип сухой смеси</span>
          <span class="product__specification-subtitle"
            >Морозостойкая смесь монтажно-кладочная</span
          >
        </div>
        <div class="product__specification">
          <span class="product__specification-title"
            >Расход при толщине слоя 10 мм</span
          >
          <span class="product__specification-subtitle">18 - 20</span>
        </div>
        <div class="product__specification">
          <span class="product__specification-title"
            >Наибольшая крупность заполнителя, не более мм</span
          >
          <span class="product__specification-subtitle">2,5</span>
        </div>
        <div class="product__specification">
          <span class="product__specification-title"
            >Количество воды затворения (на мешок 50 кг), л</span
          >
          <span class="product__specification-subtitle">6,5 - 8,0</span>
        </div>
      </div>
    </div>

    <div class="product__wrapper">
      <div class="panel product__to-card">
        <div class="product__purchase">
          <div class="product__price">
            <span class="product__price-summa">300,00</span
            ><sup class="product__asterix">*</sup>
          </div>
          <div class="in-stock">В наличии</div>
        </div>

        <div class="product__inner">
          <form
            class="cart"
            action="https://dev.cement-snab.ru/product/bionord-pro-plus-meshok-23kg"
            method="post"
            enctype="multipart/form-data"
          >
            <div class="cart__wrapper">
              <div class="quantity">
                <input type="button" value="-" class="minus" />
                <input
                  type="number"
                  id="quantity_69c4e6aa72989"
                  class="input-text qty text"
                  step="1"
                  min="1"
                  max=""
                  name="quantity"
                  value="1"
                  title="Qty"
                  size="4"
                  pattern="[0-9]*"
                  inputmode="numeric"
                  aria-labelledby="Количество товара BIONORD PRO PLUS мешок 23кг"
                />

                <input type="button" value="+" class="plus" />
              </div>

              <p class="cart-total">
                <span class="cart-total__label">Итого:</span
                ><span class="cart-total__value">99300 ₽</span>
              </p>
            </div>

            <button
              type="submit"
              name="add-to-cart"
              value="8727"
              class="single_add_to_cart_button button alt"
            >
              В корзину
            </button>
          </form>
          <button class="button button--second">Купить в один клик</button>
        </div>

        <div class="product__asterix-info">
          <sup>*</sup>- Стоимость без учета
          <a class="product__delivery-link" href="">доставки</a>
        </div>
      </div>

      <!-- callback -->
      <%- include('../components/callback') %>
    </div>
  </div>

  <div class="product__tabs">
    <div class="panel product__tabs-nav">
      <button
        class="product__tabs-button product__tabs-button--active"
        data-tab="description"
      >
        Описание товара
      </button>
      <button class="product__tabs-button" data-tab="specifications">
        Характеристики
      </button>
      <button class="product__tabs-button" data-tab="payment-delivery">
        Оплата и доставка
      </button>
    </div>
    <div class="panel product__tabs-content">
      <div class="product__tab product__tab--show" id="description">
        <p>Применяется для выполнения монтажно-кладочных и ремонтных работ.</p>
        <p>
          Представляет собой высокопрочную смесь, состоящую из портландцемента,
          фракционированного песка и минерального наполнителя.
        </p>
        <p>
          Материал подходит для работ при положительных и отрицательных
          (модификация -15°С) температурах, отличается простотой приготовления,
          высокой морозостойкостью, устойчивостью к усадке, технологичностью.
        </p>
      </div>
      <div class="product__tab" id="specifications">
        <div class="product__specifications">
          <div class="product__specification">
            <span class="product__specification-title">Вес</span>
            <span class="product__specification-subtitle">50 кг</span>
          </div>
          <div class="product__specification">
            <span class="product__specification-title">Вес</span>
            <span class="product__specification-subtitle">50 кг</span>
          </div>
          <div class="product__specification">
            <span class="product__specification-title">Вес</span>
            <span class="product__specification-subtitle">50 кг</span>
          </div>
          <div class="product__specification">
            <span class="product__specification-title">Вес</span>
            <span class="product__specification-subtitle">50 кг</span>
          </div>
          <div class="product__specification">
            <span class="product__specification-title">Вес</span>
            <span class="product__specification-subtitle">50 кг</span>
          </div>
          <div class="product__specification">
            <span class="product__specification-title">Вес</span>
            <span class="product__specification-subtitle">50 кг</span>
          </div>
          <div class="product__specification">
            <span class="product__specification-title">Вес</span>
            <span class="product__specification-subtitle">50 кг</span>
          </div>
        </div>

        <div class="product__specifications">
          <div class="product__specification">
            <span class="product__specification-title"
              >Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt
              ad amet cupiditate cumque, molestias dolorum?</span
            >
            <span class="product__specification-subtitle">50 кг</span>
          </div>
          <div class="product__specification">
            <span class="product__specification-title">Вес</span>
            <span class="product__specification-subtitle">50 кг</span>
          </div>
          <div class="product__specification">
            <span class="product__specification-title"
              >Lorem ipsum dolor sit amet consectetur, adipisicing elit. Amet
              pariatur autem, nulla iure dolorum mollitia quod nesciunt neque
              libero ratione.</span
            >
            <span class="product__specification-subtitle">50 кг</span>
          </div>
          <div class="product__specification">
            <span class="product__specification-title">Вес</span>
            <span class="product__specification-subtitle">50 кг</span>
          </div>
          <div class="product__specification">
            <span class="product__specification-title">Вес</span>
            <span class="product__specification-subtitle">50 кг</span>
          </div>
          <div class="product__specification">
            <span class="product__specification-title">Вес</span>
            <span class="product__specification-subtitle">50 кг</span>
          </div>
        </div>
      </div>
      <div class="product__tab" id="payment-delivery">
        <h3 class="product__tab-title">Способы оплаты</h3>

        <div class="product__tab-wrapper">
          <span class="product__tab-subtitle">Для физических лиц</span>
          <ul class="product__tab-list">
            <li>
              <span>Банковская карта</span>
              <ul class="cards-list">
                <li><img src="../icons/mastercard.svg" alt="" /></li>
                <li><img src="../icons/visa.svg" alt="" /></li>
                <li><img src="../icons/mir.svg" alt="" /></li>
              </ul>
            </li>
          </ul>
        </div>

        <div class="product__tab-wrapper">
          <span class="product__tab-subtitle">Для юр. лиц</span>
          <ul class="product__tab-list">
            <li>Оплата по реквизитам</li>
            <li>
              Оставляете заявку на сайте, с Вами свяжется наш менеджер, уточнит
              все параметры заказа, после этого выставляется счет. После
              поступления средств в обговоренный срок доставляем товар.
            </li>
            <li>
              Вы звоните на наш номер телефона, менеджер записывает Ваш заказ.
              Выставляет счет на Вашу организацию. Денежные средства поступают,
              и мы поставляем заказ в указанный Вами день.
            </li>
          </ul>
        </div>

        <h3 class="product__tab-title">Доставка</h3>
        <div class="product__tab-map">
          <!-- <iframe
            src="https://yandex.ru/map-widget/v1/?ll=37.622513%2C55.753215&z=10"
            width="100%"
            height="100%"
            frameborder="0"
          ></iframe> -->
        </div>
      </div>
    </div>
  </div>

  <!-- products -->
  <%- include('../components/products') %>
</div>
