<div class="product">
  <div class="panel product__slider"></div>
  <div class="panel product__info">
    <h1 class="product__title">Монтажно-кладочная смесь М200 «Академия Смеси», 50кг (-15°С)</h1>
    <div class="product__details">
      <h3 class="product__details-title">Характеристики товара</h3>

      <div class="product__detail">
        <span class="product__detail-title">Производитель</span>
        <span class="product__detail-subtitle">Академия смеси</span>
      </div>
      <div class="product__detail">
        <span class="product__detail-title">Вес</span>
        <span class="product__detail-subtitle">50 кг</span>
      </div>
      <div class="product__detail">
        <span class="product__detail-title">Тип сухой смеси</span>
        <span class="product__detail-subtitle">Морозостойкая смесь монтажно-кладочная</span>
      </div>
      <div class="product__detail">
        <span class="product__detail-title">Расход при толщине слоя 10 мм</span>
        <span class="product__detail-subtitle">18 - 20</span>
      </div>
      <div class="product__detail">
        <span class="product__detail-title">Наибольшая крупность заполнителя, не более мм</span>
        <span class="product__detail-subtitle">2,5</span>
      </div>
      <div class="product__detail">
        <span class="product__detail-title">Количество воды затворения (на мешок 50 кг), л</span>
        <span class="product__detail-subtitle">6,5 - 8,0</span>
      </div>
    </div>
  </div>

  <div class="product__wrapper">
    <div class="panel product__to-card">
      <div class="product__purchase">
        <div class="product__price">
          <span class="product__price-summa">300,00</span><sup class="product__asterix">*</sup>
        </div>
        <div class="product__in-stock">В наличии</div>
      </div>
      <!-- quantity -->
      <%- include('../components/quantity') %>

      <div class="product__buttons">
        <button class="button button--accent">В корзину</button>
        <button class="button button--second">Купить в один клик</button>
      </div>

      <div class="product__asterix-info">
        <sup>*</sup>- Стоимость без учета <a class="product__delivery-link" href="">доставки</a>
      </div>
    </div>

    <!-- callback -->
    <%- include('../components/callback') %>
  </div>

  <div class="product__tabs">
    <div class="panel product__tabs-nav">
      <button class="product__tabs-button product__tabs-button--active" data-tab="1">Описание товара</button>
      <button class="product__tabs-button" data-tab="1">Характеристики</button>
      <button class="product__tabs-button" data-tab="1">Оплата и доставка</button>
    </div>
    <div class="panel product__tabs-content">
      <div class="product__tab tab--show" id="tab1">
        <p>Применяется для выполнения монтажно-кладочных и ремонтных работ.</p>
        <p>
          Представляет собой высокопрочную смесь, состоящую из портландцемента, фракционированного песка и минерального
          наполнителя.
        </p>
        <p>
          Материал подходит для работ при положительных и отрицательных (модификация -15°С) температурах, отличается
          простотой приготовления, высокой морозостойкостью, устойчивостью к усадке, технологичностью.
        </p>
      </div>
      <div class="product__tab" id="tab2">
        <div class="product__details">
          <div class="product__detail">
            <span class="product__detail-title">Вес</span>
            <span class="product__detail-subtitle">50 кг</span>
          </div>
          <div class="product__detail">
            <span class="product__detail-title">Вес</span>
            <span class="product__detail-subtitle">50 кг</span>
          </div>
          <div class="product__detail">
            <span class="product__detail-title">Вес</span>
            <span class="product__detail-subtitle">50 кг</span>
          </div>
          <div class="product__detail">
            <span class="product__detail-title">Вес</span>
            <span class="product__detail-subtitle">50 кг</span>
          </div>
          <div class="product__detail">
            <span class="product__detail-title">Вес</span>
            <span class="product__detail-subtitle">50 кг</span>
          </div>
          <div class="product__detail">
            <span class="product__detail-title">Вес</span>
            <span class="product__detail-subtitle">50 кг</span>
          </div>
          <div class="product__detail">
            <span class="product__detail-title">Вес</span>
            <span class="product__detail-subtitle">50 кг</span>
          </div>
        </div>
      </div>
      <div class="product__tab" id="tab3">
        <h3 class="product__tab-title">Способы оплаты</h3>
        <p class="product__tab-subtitle">Для физических лиц</p>
        <ul class="product__tab-list">
          <li>
            <span>Банковская карта</span>
            <ul class="cards-list">
              <li><img src="" alt="" /></li>
              <li><img src="" alt="" /></li>
              <li><img src="" alt="" /></li>
            </ul>
          </li>
        </ul>

        <p class="product__tab-subtitle">Для юр. лиц</p>
        <ul class="product__tab-list">
          <li>Оплата по реквизитам</li>
          <li>
            Оставляете заявку на сайте, с Вами свяжется наш менеджер, уточнит все параметры заказа, после этого
            выставляется счет. После поступления средств в обговоренный срок доставляем товар.
          </li>
          <li>
            Вы звоните на наш номер телефона, менеджер записывает Ваш заказ. Выставляет счет на Вашу организацию.
            Денежные средства поступают, и мы поставляем заказ в указанный Вами день.
          </li>
        </ul>

        <h3 class="product__tab-title">Способы оплаты</h3>
        <h3 class="product__tab-title">Способы оплаты</h3>
        <div class="product__tab-map"></div>
      </div>
    </div>
  </div>

  <!-- products -->
  <%- include('../components/products') %>
</div>
