:root {
  --font-size: 16px;
  --desktop-width: 1200px;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4 {
  margin: 0;
}

html,
body {
  font-family: 'Manrope';
  font-weight: 400;
  color: var(--black);
  font-size: var(--font-size);
  background-color: var(--neutral-100);
}

body {
  padding-inline: 14px;
}

[hidden] {
  display: none !important;
}

@media (max-width: 1199px) {
  [hidden--on-mobile] {
    display: none !important;
  }
}

@media (min-width: 1200px) {
  [hidden--on-desktop] {
    display: none !important;
  }
}

body.cems-body--overflow {
  overflow: hidden;
}

.cems-body--overflow::before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgb(3, 22, 43, 0.cems-48);
  z-index: 99;
  /* min-height: 1000vh; */
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  transition: .3s all ease;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

input[type="number"] {
  /* Chrome, Safari, Edge, Opera */
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  /* Firefox */
  appearance: textfield;

  /* Убираем margin у стрелок (Chrome) */
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.cems-container {
  width: 100%;
  max-width: var(--desktop-width);
  /* height: 100%; */
  margin: 32px auto 64px auto;
}

@media (max-width: 1199px) {
  .cems-container {
    margin-top: 0;
  }
}

.cems-panel {
  border-radius: 12px;
  border: 1px solid var(--neutral-200);
  background-color: white;
}

.cems-in-stock {
  color: var(--whatsapp-700);
  font-size: 12px;
  display: flex;
  align-items: center;
  gap: 4px;
}

.cems-in-stock::before {
  content: '';
  background-image: url(../icons/in-stock.svg);
  width: 18px;
  height: 18px;
  background-position: center;
  background-repeat: no-repeat;
}

.cems-gap-16 {
  gap: 16px;
}

.cems-color--accent {
  color: var(--primary-500);
}

.cems-color--gray {
  color: var(--secondary-400);
}

.cems-color--primary-900 {
  color: var(--primary-900);
}

.cems-place-items--center {
  place-items: center;
}