.cems-footer {
    margin-top: 48px;
    padding: 24px;
}

.cems-footer__columns {
    padding-bottom: 24px;
    display: grid;
    gap: 48px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    border-bottom: 1px solid var(--neutral-200);
    color: var(--secondary-400);
}


@media (max-width: 1199px) {
    .cems-footer__columns {
        grid-template-columns: 1fr;
        gap: 24px;
    }
}

.cems-footer__logo {
    width: 315px;
    height: 45px;
    margin-bottom: 24px;
}

@media (max-width: 1199px) {
    .cems-footer__logo {
        width: 164px;
        height: 23px;
        margin-bottom: 16px;
    }
}

.cems-footer__logo img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.cems-footer__info {
    font-size: 13px;
    line-height: 148%;
}

.cems-footer__column-title {
    color: var(--secondary-700);
    text-transform: uppercase;
    font-size: 13px;
    margin-bottom: 24px;
}

.cems-footer__top {
    margin-bottom: 24px;
}

.cems-footer__bottom {
    display: flex;
    justify-content: space-between;
}

.cems-footer__links {
    display: grid;
    gap: 16px;
}

.cems-footer__link {
    color: var(--secondary-400);
    font-size: 13px;
}

.cems-footer__link:hover {
    color: var(--primary-500);
}

.cems-footer__link--black {
    color: var(--secondary-700);
}

.cems-footer__link--black:hover {
    color: var(--primary-500);
}

.cems-footer__contacts {
    display: grid;
    gap: 16px;
}

.cems-footer__contact {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@media (max-width: 1199px) {
    .cems-footer__contact {
        display: grid;
        grid-template-columns: 1fr 2fr;
    }
}

.cems-footer__contact span:first-child {
    color: var(--secondary-400);
    font-size: 13px;
}

.cems-footer__contact span:last-child {
    color: var(--secondary-700);
    font-size: 13px;
    text-align: right;
}

@media (max-width: 1199px) {

    .cems-footer__contact span:last-child,
    .cems-footer__contact a {
        text-align: left;
    }
}