.footer {
    margin-top: 48px;
    padding: 24px;
}

.footer__columns {
    padding-bottom: 24px;
    display: grid;
    gap: 48px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    border-bottom: 1px solid var(--neutral-200);
    color: var(--secondary-400);
}

.footer__column-title {
    color: var(--secondary-700);
    text-transform: uppercase;
    font-size: 13px;
    margin-bottom: 24px;
}

.footer__bottom {
    padding-block: 24px;
    display: flex;
    justify-content: space-between;
}

.footer__links {
    display: grid;
    gap: 16px;
}

.footer__link {
    color: var(--secondary-400);
    font-size: 13px;
}

.footer__link--black {
    color: var(--secondary-700);
}

.footer__contacts {
    display: grid;
    gap: 16px;
}

.footer__contact {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer__contact span:first-child {
    color: var(--secondary-400);
    font-size: 13px;
}

.footer__contact span:last-child {
    color: var(--secondary-700);
    font-size: 13px;
    text-align: right;
}