.cems-header {
    display: grid;
    gap: 24px;
    margin-bottom: 48px;
}

.cems-header__mobile {
    margin-inline: -14px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    padding: 12px 14px;
}

.cems-header__mobile-logo {
    width: 163px;
    height: 23px;
}

.cems-header__mobile-logo-image {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.cems-header__mobile-actions {
    display: flex;
    gap: 16px;
    align-items: center;
}

.cems-header__mobile-search-button,
.cems-header__mobile-cart-button,
.cems-header__mobile-menu-button {
    width: 28px;
    height: 28px;
    display: grid;
    place-content: center;
}

.cems-header__mobile-search-button img,
.cems-header__mobile-cart-button img,
.cems-header__mobile-menu-button img {
    width: 24px;
    height: 24px;
}

.cems-header__mobile-cart-button {
    position: relative;
}

.cems-header__mobile-cart-button .cems-cart__count {
    background-color: var(--primary-500);
    color: white;
}

.cems-header__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 24px;
}

.cems-nav__links {
    display: flex;
    gap: 32px;
}

.cems-nav__link {
    font-size: 13px;
    color: var(--secondary-400);
    text-transform: uppercase;
}

.cems-nav__link:hover {
    color: var(--primary-500);
}

.cems-header__buttons {
    display: flex;
    gap: 8px;
}

.cems-header__button {
    display: grid;
    place-content: center;
    width: 48px;
    height: 48px;
    border-radius: 48px;
    border: 1px solid var(--primary-500);
}

.cems-header__button:hover {
    background-color: var(--neutral-500);
}

.cems-header__button img {
    width: 24px;
    height: 24px;
}

.cems-cart {
    position: relative;
}

.cems-cart__count {
    position: absolute;
    top: -6px;
    right: -6px;
    min-width: 16px;
    height: 16px;
    padding-inline: 3px;
    display: grid;
    place-content: center;
    border: 1px solid var(--primary-500);
    border-radius: 16px;
    color: var(--primary-500);
    font-size: 8px;
    background-color: white;
}

.cems-header__main {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 24px;
    position: relative;
}

.cems-header__logo {
    width: 263px;
    height: 38px;
}

.cems-header__logo-image {
    width: 100%;
}

.cems-button--cart {
    display: flex;
    align-items: center;
    gap: 8px;
}

.cems-button--cart::before {
    content: '';
    background-image: url(../icons/cart--white.svg);
    width: 24px;
    height: 24px;
    background-size: contain;
    background-position: center;
}

.cems-button--catalog {
    display: flex;
    align-items: center;
    gap: 8px;
}

.cems-button--catalog::before {
    content: '';
    background-image: url(../icons/burger--white.svg);
    width: 24px;
    height: 24px;
    background-size: contain;
    background-position: center;
}

.cems-info {
    display: grid;
    grid-template-areas:
        "image title"
        "image subtitle";
    column-gap: 12px;
    row-gap: 8px;
}

.cems-info::before {
    grid-area: image;
    align-self: center;
    content: '';
    width: 32px;
    height: 32px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.cems-info.cems-info--worktime::before {
    background-image: url(../icons/clock.svg);
}

.cems-info.cems-info--email::before {
    background-image: url(../icons/mail.svg);
}

.cems-info.cems-info--phone::before {
    background-image: url(../icons/phone.svg);
}

.cems-info__title {
    font-size: 13px;
    color: var(--secondary-400);
}

.cems-info__title--phone {
    font-size: 16px;
    color: var(--secondary-700);
}

.cems-info__title--phone:hover {
    color: var(--primary-500);
}

a.cems-info__subtitle,
.cems-info__subtitle {
    font-size: 14px;
    color: var(--secondary-700);
}

a.cems-info__subtitle:hover {
    color: var(--primary-500);
}

.cems-info__link--callback {
    color: var(--primary-500);
}

.cems-info__link--callback:hover {
    text-decoration: underline;
    color: var(--primary-700);
}