.product {
    display: grid;
    gap: 16px;
}

.product__top {
    display: grid;
    grid-template-columns: 280px 1fr 330px;
    gap: 16px;
}

.product__info {
    padding: 24px;
}

.product__wrapper {
    display: grid;
    gap: 16px;
}

.product__slider {
    width: 280px;
    height: 418px;
}

.product__title {
    font-size: 20px;
    color: var(--secondary-600);
    font-weight: 500;
    margin-bottom: 24px;
}

.product__details-title {
    font-size: 16px;
    color: var(--secondary-600);
    font-weight: 500;
    margin-bottom: 20px;
}

.product__details {
    display: grid;
}

.product__detail {
    font-size: 13px;
    padding: 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 8px;
}

.product__detail:nth-child(2n) {
    background-color: var(--neutral-300);
}

.product__detail-title {
    color: var(--secondary-400);
}


.product__detail-subtitle {
    color: var(--primary-500);
}

.product__to-card {
    padding: 24px;
    display: grid;
    gap: 24px;
}

.product__purchase {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 24px;
}

.product__price {
    position: relative;
}

.product__price-summa {
    font-weight: 500;
    font-size: 32px;
    color: var(--primary-500);
}

.product__price-summa::after {
    content: "₽";
}

.product__asterix {
    font-weight: 500;
    font-size: 32px;
    color: var(--primary-500);
    position: absolute;
    top: 16px;
    right: -16px;
}

.product__buttons {
    display: grid;
    gap: 12px;
}

.product__asterix-info {
    font-size: 12px;
    color: var(--secondary-400);
    position: relative;
    padding-left: 16px;
}

.product__delivery-link {
    color: var(--primary-500);
    text-decoration: underline;
}

.product__asterix-info sup {
    position: absolute;
    top: 6px;
    left: 0;
    font-size: 24px;
    color: var(--primary-500);
}