<div class="cems-panel cems-callback">
  <span class="cems-callback__title">Заказать обратный звонок</span>

  <div class="cems-callback__inputs">
    <input
      class="cems-callback__input"
      placeholder="Ваше имя"
      type="text"
      name=""
      id=""
    />
    <input
      class="cems-callback__input"
      placeholder="Номер телефона"
      type="tel"
      name=""
      id=""
    />
  </div>

  <button class="cems-button cems-button--accent">Заказать звонок</button>

  <div class="cems-callback__links">
    <a class="cems-callback__link cems-callback__link--max" href="">Мы есть в MAX</a>
    <a class="cems-callback__link cems-callback__link--whatsapp" href=""
      >Мы есть в WhatsApp</a
    >
  </div>
</div>
