<div class="panel callback">
  <span class="callback__title">Заказать обратный звонок</span>

  <div class="callback__inputs">
    <input
      class="callback__input"
      placeholder="Ваше имя"
      type="text"
      name=""
      id=""
    />
    <input
      class="callback__input"
      placeholder="Номер телефона"
      type="tel"
      name=""
      id=""
    />
  </div>

  <button class="button button--accent">Заказать звонок</button>

  <div class="callback__links">
    <a class="callback__link callback__link--max" href="">Мы есть в MAX</a>
    <a class="callback__link callback__link--whatsapp" href=""
      >Мы есть в WhatsApp</a
    >
  </div>
</div>
