<div class="panel catalog" hidden>
  <button class="catalog__button-close"></button>
  <div class="catalog__sidebar">
    <ul class="catalog__menu-items">
      <li class="catalog__menu-item">
        <span>Цемент</span>
        <div class="catalog__submenu">
          <ul class="catalog__submenu-items">
            <li class="catalog__submenu-item">
              <a class="catalog__submenu-link" href="">Фасовка</a>
            </li>
            <li class="catalog__submenu-item">
              <a class="catalog__submenu-link" href="">Мешки 20 кг</a>
            </li>
            <li class="catalog__submenu-item">
              <a class="catalog__submenu-link" href="">Мешки 23 кг</a>
            </li>
            <li class="catalog__submenu-item">
              <a class="catalog__submenu-link" href="">Мешки 25 кг</a>
            </li>
            <li class="catalog__submenu-item">
              <a class="catalog__submenu-link" href="">Мешки 50 кг</a>
            </li>
            <li class="catalog__submenu-item">
              <a class="catalog__submenu-link" href="">800 кг</a>
            </li>
            <li class="catalog__submenu-item">
              <a class="catalog__submenu-link" href="">1000 кг</a>
            </li>
          </ul>

          <ul class="catalog__submenu-items">
            <li class="catalog__submenu-item">
              <a class="catalog__submenu-link" href="">Действующее вещество</a>
            </li>
            <li class="catalog__submenu-item">
              <a class="catalog__submenu-link" href="">Минеральный галит</a>
            </li>
            <li class="catalog__submenu-item">
              <a class="catalog__submenu-link" href="">Пескосоль</a>
            </li>
            <li class="catalog__submenu-item">
              <a class="catalog__submenu-link" href="">Хлорид кальция</a>
            </li>
            <li class="catalog__submenu-item">
              <a class="catalog__submenu-link" href="">Хлорид магния</a>
            </li>
            <li class="catalog__submenu-item">
              <a class="catalog__submenu-link" href="">Гранитная крошка</a>
            </li>
          </ul>

          <ul class="catalog__submenu-items">
            <li class="catalog__submenu-item">
              <a class="catalog__submenu-link" href="">Производитель</a>
            </li>
            <li class="catalog__submenu-item">
              <a class="catalog__submenu-link" href="">Бионорд</a>
            </li>
            <li class="catalog__submenu-item">
              <a class="catalog__submenu-link" href="">ICEHIT</a>
            </li>
            <li class="catalog__submenu-item">
              <a class="catalog__submenu-link" href="">ICEMELT</a>
            </li>
            <li class="catalog__submenu-item">
              <a class="catalog__submenu-link" href="">DMS</a>
            </li>
            <li class="catalog__submenu-item">
              <a class="catalog__submenu-link" href="">DMS</a>
            </li>
            <li class="catalog__submenu-item">
              <a class="catalog__submenu-link" href="">Баскунчак</a>
            </li>
            <li class="catalog__submenu-item">
              <a class="catalog__submenu-link" href="">Карелия Тайп</a>
            </li>
            <li class="catalog__submenu-item">
              <a class="catalog__submenu-link" href="">Пескодром</a>
            </li>
            <li class="catalog__submenu-item">
              <a class="catalog__submenu-link" href="">Урал Ресурс</a>
            </li>
          </ul>
        </div>
      </li>
      <li class="catalog__menu-item">
        <span>Противогололедные реагенты</span>
        <div class="catalog__submenu">
          <ul class="catalog__submenu-items">
            <li class="catalog__submenu-item">
              <a class="catalog__submenu-link" href="">Рабочая температура</a>
            </li>
            <li class="catalog__submenu-item">
              <a class="catalog__submenu-link" href="">От -10 до -20 С</a>
            </li>
            <li class="catalog__submenu-item">
              <a class="catalog__submenu-link" href="">От -20 до -30 С</a>
            </li>
            <li class="catalog__submenu-item">
              <a class="catalog__submenu-link" href="">От -30 и выше</a>
            </li>
          </ul>

          <ul class="catalog__submenu-items">
            <li class="catalog__submenu-item">
              <a class="catalog__submenu-link" href="">Действующее вещество</a>
            </li>
            <li class="catalog__submenu-item">
              <a class="catalog__submenu-link" href="">Минеральный галит</a>
            </li>
            <li class="catalog__submenu-item">
              <a class="catalog__submenu-link" href="">Пескосоль</a>
            </li>
            <li class="catalog__submenu-item">
              <a class="catalog__submenu-link" href="">Хлорид кальция</a>
            </li>
            <li class="catalog__submenu-item">
              <a class="catalog__submenu-link" href="">Хлорид магния</a>
            </li>
            <li class="catalog__submenu-item">
              <a class="catalog__submenu-link" href="">Гранитная крошка</a>
            </li>
          </ul>

          <ul class="catalog__submenu-items">
            <li class="catalog__submenu-item">
              <a class="catalog__submenu-link" href="">Производитель</a>
            </li>
            <li class="catalog__submenu-item">
              <a class="catalog__submenu-link" href="">Бионорд</a>
            </li>
            <li class="catalog__submenu-item">
              <a class="catalog__submenu-link" href="">ICEHIT</a>
            </li>
            <li class="catalog__submenu-item">
              <a class="catalog__submenu-link" href="">ICEMELT</a>
            </li>
            <li class="catalog__submenu-item">
              <a class="catalog__submenu-link" href="">DMS</a>
            </li>
            <li class="catalog__submenu-item">
              <a class="catalog__submenu-link" href="">DMS</a>
            </li>
            <li class="catalog__submenu-item">
              <a class="catalog__submenu-link" href="">Баскунчак</a>
            </li>
            <li class="catalog__submenu-item">
              <a class="catalog__submenu-link" href="">Карелия Тайп</a>
            </li>
            <li class="catalog__submenu-item">
              <a class="catalog__submenu-link" href="">Пескодром</a>
            </li>
            <li class="catalog__submenu-item">
              <a class="catalog__submenu-link" href="">Урал Ресурс</a>
            </li>
          </ul>
        </div>
      </li>
      <li class="catalog__menu-item">
        <span>Сухие строительные смеси</span>
        <div class="catalog__submenu">
          <ul class="catalog__submenu-items">
            <li class="catalog__submenu-item">
              <a class="catalog__submenu-link" href="">Рабочая температура</a>
            </li>
            <li class="catalog__submenu-item">
              <a class="catalog__submenu-link" href="">От -10 до -20 С</a>
            </li>
            <li class="catalog__submenu-item">
              <a class="catalog__submenu-link" href="">От -20 до -30 С</a>
            </li>
            <li class="catalog__submenu-item">
              <a class="catalog__submenu-link" href="">От -30 и выше</a>
            </li>
          </ul>

          <ul class="catalog__submenu-items">
            <li class="catalog__submenu-item">
              <a class="catalog__submenu-link" href="">Фасовка</a>
            </li>
            <li class="catalog__submenu-item">
              <a class="catalog__submenu-link" href="">Мешки 20 кг</a>
            </li>
            <li class="catalog__submenu-item">
              <a class="catalog__submenu-link" href="">Мешки 23 кг</a>
            </li>
            <li class="catalog__submenu-item">
              <a class="catalog__submenu-link" href="">Мешки 25 кг</a>
            </li>
            <li class="catalog__submenu-item">
              <a class="catalog__submenu-link" href="">Мешки 50 кг</a>
            </li>
            <li class="catalog__submenu-item">
              <a class="catalog__submenu-link" href="">800 кг</a>
            </li>
            <li class="catalog__submenu-item">
              <a class="catalog__submenu-link" href="">1000 кг</a>
            </li>
          </ul>

          <ul class="catalog__submenu-items">
            <li class="catalog__submenu-item">
              <a class="catalog__submenu-link" href="">Производитель</a>
            </li>
            <li class="catalog__submenu-item">
              <a class="catalog__submenu-link" href="">Бионорд</a>
            </li>
            <li class="catalog__submenu-item">
              <a class="catalog__submenu-link" href="">ICEHIT</a>
            </li>
            <li class="catalog__submenu-item">
              <a class="catalog__submenu-link" href="">ICEMELT</a>
            </li>
            <li class="catalog__submenu-item">
              <a class="catalog__submenu-link" href="">DMS</a>
            </li>
            <li class="catalog__submenu-item">
              <a class="catalog__submenu-link" href="">DMS</a>
            </li>
            <li class="catalog__submenu-item">
              <a class="catalog__submenu-link" href="">Баскунчак</a>
            </li>
            <li class="catalog__submenu-item">
              <a class="catalog__submenu-link" href="">Карелия Тайп</a>
            </li>
            <li class="catalog__submenu-item">
              <a class="catalog__submenu-link" href="">Пескодром</a>
            </li>
            <li class="catalog__submenu-item">
              <a class="catalog__submenu-link" href="">Урал Ресурс</a>
            </li>
          </ul>
        </div>
      </li>
      <li class="catalog__menu-item">
        <span>АЦЭИД</span>
        <div class="catalog__submenu">
          <ul class="catalog__submenu-items">
            <li class="catalog__submenu-item">
              <a class="catalog__submenu-link" href="">Рабочая температура</a>
            </li>
            <li class="catalog__submenu-item">
              <a class="catalog__submenu-link" href="">От -10 до -20 С</a>
            </li>
            <li class="catalog__submenu-item">
              <a class="catalog__submenu-link" href="">От -20 до -30 С</a>
            </li>
            <li class="catalog__submenu-item">
              <a class="catalog__submenu-link" href="">От -30 и выше</a>
            </li>
          </ul>

          <ul class="catalog__submenu-items">
            <li class="catalog__submenu-item">
              <a class="catalog__submenu-link" href="">Фасовка</a>
            </li>
            <li class="catalog__submenu-item">
              <a class="catalog__submenu-link" href="">Мешки 20 кг</a>
            </li>
            <li class="catalog__submenu-item">
              <a class="catalog__submenu-link" href="">Мешки 23 кг</a>
            </li>
            <li class="catalog__submenu-item">
              <a class="catalog__submenu-link" href="">Мешки 25 кг</a>
            </li>
            <li class="catalog__submenu-item">
              <a class="catalog__submenu-link" href="">Мешки 50 кг</a>
            </li>
            <li class="catalog__submenu-item">
              <a class="catalog__submenu-link" href="">800 кг</a>
            </li>
            <li class="catalog__submenu-item">
              <a class="catalog__submenu-link" href="">1000 кг</a>
            </li>
          </ul>

          <ul class="catalog__submenu-items">
            <li class="catalog__submenu-item">
              <a class="catalog__submenu-link" href="">Действующее вещество</a>
            </li>
            <li class="catalog__submenu-item">
              <a class="catalog__submenu-link" href="">Минеральный галит</a>
            </li>
            <li class="catalog__submenu-item">
              <a class="catalog__submenu-link" href="">Пескосоль</a>
            </li>
            <li class="catalog__submenu-item">
              <a class="catalog__submenu-link" href="">Хлорид кальция</a>
            </li>
            <li class="catalog__submenu-item">
              <a class="catalog__submenu-link" href="">Хлорид магния</a>
            </li>
            <li class="catalog__submenu-item">
              <a class="catalog__submenu-link" href="">Гранитная крошка</a>
            </li>
          </ul>
        </div>
      </li>
      <li class="catalog__menu-item">
        <span>Асбестоцементные листы</span>
        <div class="catalog__submenu">
          <ul class="catalog__submenu-items">
            <li class="catalog__submenu-item">
              <a class="catalog__submenu-link" href="">Рабочая температура</a>
            </li>
            <li class="catalog__submenu-item">
              <a class="catalog__submenu-link" href="">От -10 до -20 С</a>
            </li>
            <li class="catalog__submenu-item">
              <a class="catalog__submenu-link" href="">От -20 до -30 С</a>
            </li>
            <li class="catalog__submenu-item">
              <a class="catalog__submenu-link" href="">От -30 и выше</a>
            </li>
          </ul>

          <ul class="catalog__submenu-items">
            <li class="catalog__submenu-item">
              <a class="catalog__submenu-link" href="">Фасовка</a>
            </li>
            <li class="catalog__submenu-item">
              <a class="catalog__submenu-link" href="">Мешки 20 кг</a>
            </li>
            <li class="catalog__submenu-item">
              <a class="catalog__submenu-link" href="">Мешки 23 кг</a>
            </li>
            <li class="catalog__submenu-item">
              <a class="catalog__submenu-link" href="">Мешки 25 кг</a>
            </li>
            <li class="catalog__submenu-item">
              <a class="catalog__submenu-link" href="">Мешки 50 кг</a>
            </li>
            <li class="catalog__submenu-item">
              <a class="catalog__submenu-link" href="">800 кг</a>
            </li>
            <li class="catalog__submenu-item">
              <a class="catalog__submenu-link" href="">1000 кг</a>
            </li>
          </ul>

          <ul class="catalog__submenu-items">
            <li class="catalog__submenu-item">
              <a class="catalog__submenu-link" href="">Действующее вещество</a>
            </li>
            <li class="catalog__submenu-item">
              <a class="catalog__submenu-link" href="">Минеральный галит</a>
            </li>
            <li class="catalog__submenu-item">
              <a class="catalog__submenu-link" href="">Пескосоль</a>
            </li>
            <li class="catalog__submenu-item">
              <a class="catalog__submenu-link" href="">Хлорид кальция</a>
            </li>
            <li class="catalog__submenu-item">
              <a class="catalog__submenu-link" href="">Хлорид магния</a>
            </li>
            <li class="catalog__submenu-item">
              <a class="catalog__submenu-link" href="">Гранитная крошка</a>
            </li>
          </ul>

          <ul class="catalog__submenu-items">
            <li class="catalog__submenu-item">
              <a class="catalog__submenu-link" href="">Производитель</a>
            </li>
            <li class="catalog__submenu-item">
              <a class="catalog__submenu-link" href="">Бионорд</a>
            </li>
            <li class="catalog__submenu-item">
              <a class="catalog__submenu-link" href="">ICEHIT</a>
            </li>
            <li class="catalog__submenu-item">
              <a class="catalog__submenu-link" href="">ICEMELT</a>
            </li>
            <li class="catalog__submenu-item">
              <a class="catalog__submenu-link" href="">DMS</a>
            </li>
            <li class="catalog__submenu-item">
              <a class="catalog__submenu-link" href="">DMS</a>
            </li>
            <li class="catalog__submenu-item">
              <a class="catalog__submenu-link" href="">Баскунчак</a>
            </li>
            <li class="catalog__submenu-item">
              <a class="catalog__submenu-link" href="">Карелия Тайп</a>
            </li>
            <li class="catalog__submenu-item">
              <a class="catalog__submenu-link" href="">Пескодром</a>
            </li>
            <li class="catalog__submenu-item">
              <a class="catalog__submenu-link" href="">Урал Ресурс</a>
            </li>
          </ul>
        </div>
      </li>
      <li class="catalog__menu-item">
        <span>Асбестоцементные трубы</span>
        <div class="catalog__submenu">
          <ul class="catalog__submenu-items">
            <li class="catalog__submenu-item">
              <a class="catalog__submenu-link" href="">Рабочая температура</a>
            </li>
            <li class="catalog__submenu-item">
              <a class="catalog__submenu-link" href="">От -10 до -20 С</a>
            </li>
            <li class="catalog__submenu-item">
              <a class="catalog__submenu-link" href="">От -20 до -30 С</a>
            </li>
            <li class="catalog__submenu-item">
              <a class="catalog__submenu-link" href="">От -30 и выше</a>
            </li>
          </ul>

          <ul class="catalog__submenu-items">
            <li class="catalog__submenu-item">
              <a class="catalog__submenu-link" href="">Действующее вещество</a>
            </li>
            <li class="catalog__submenu-item">
              <a class="catalog__submenu-link" href="">Минеральный галит</a>
            </li>
            <li class="catalog__submenu-item">
              <a class="catalog__submenu-link" href="">Пескосоль</a>
            </li>
            <li class="catalog__submenu-item">
              <a class="catalog__submenu-link" href="">Хлорид кальция</a>
            </li>
            <li class="catalog__submenu-item">
              <a class="catalog__submenu-link" href="">Хлорид магния</a>
            </li>
            <li class="catalog__submenu-item">
              <a class="catalog__submenu-link" href="">Гранитная крошка</a>
            </li>
          </ul>

          <ul class="catalog__submenu-items">
            <li class="catalog__submenu-item">
              <a class="catalog__submenu-link" href="">Производитель</a>
            </li>
            <li class="catalog__submenu-item">
              <a class="catalog__submenu-link" href="">Бионорд</a>
            </li>
            <li class="catalog__submenu-item">
              <a class="catalog__submenu-link" href="">ICEHIT</a>
            </li>
            <li class="catalog__submenu-item">
              <a class="catalog__submenu-link" href="">ICEMELT</a>
            </li>
            <li class="catalog__submenu-item">
              <a class="catalog__submenu-link" href="">DMS</a>
            </li>
            <li class="catalog__submenu-item">
              <a class="catalog__submenu-link" href="">DMS</a>
            </li>
            <li class="catalog__submenu-item">
              <a class="catalog__submenu-link" href="">Баскунчак</a>
            </li>
            <li class="catalog__submenu-item">
              <a class="catalog__submenu-link" href="">Карелия Тайп</a>
            </li>
            <li class="catalog__submenu-item">
              <a class="catalog__submenu-link" href="">Пескодром</a>
            </li>
            <li class="catalog__submenu-item">
              <a class="catalog__submenu-link" href="">Урал Ресурс</a>
            </li>
          </ul>
        </div>
      </li>
      <li class="catalog__menu-item">
        <span>Химреактивы</span>
        <div class="catalog__submenu">
          <ul class="catalog__submenu-items">
            <li class="catalog__submenu-item">
              <a class="catalog__submenu-link" href="">Действующее вещество</a>
            </li>
            <li class="catalog__submenu-item">
              <a class="catalog__submenu-link" href="">Минеральный галит</a>
            </li>
            <li class="catalog__submenu-item">
              <a class="catalog__submenu-link" href="">Пескосоль</a>
            </li>
            <li class="catalog__submenu-item">
              <a class="catalog__submenu-link" href="">Хлорид кальция</a>
            </li>
            <li class="catalog__submenu-item">
              <a class="catalog__submenu-link" href="">Хлорид магния</a>
            </li>
            <li class="catalog__submenu-item">
              <a class="catalog__submenu-link" href="">Гранитная крошка</a>
            </li>
          </ul>

          <ul class="catalog__submenu-items">
            <li class="catalog__submenu-item">
              <a class="catalog__submenu-link" href="">Производитель</a>
            </li>
            <li class="catalog__submenu-item">
              <a class="catalog__submenu-link" href="">Бионорд</a>
            </li>
            <li class="catalog__submenu-item">
              <a class="catalog__submenu-link" href="">ICEHIT</a>
            </li>
            <li class="catalog__submenu-item">
              <a class="catalog__submenu-link" href="">ICEMELT</a>
            </li>
            <li class="catalog__submenu-item">
              <a class="catalog__submenu-link" href="">DMS</a>
            </li>
            <li class="catalog__submenu-item">
              <a class="catalog__submenu-link" href="">DMS</a>
            </li>
            <li class="catalog__submenu-item">
              <a class="catalog__submenu-link" href="">Баскунчак</a>
            </li>
            <li class="catalog__submenu-item">
              <a class="catalog__submenu-link" href="">Карелия Тайп</a>
            </li>
            <li class="catalog__submenu-item">
              <a class="catalog__submenu-link" href="">Пескодром</a>
            </li>
            <li class="catalog__submenu-item">
              <a class="catalog__submenu-link" href="">Урал Ресурс</a>
            </li>
          </ul>
        </div>
      </li>
      <li class="catalog__menu-item">
        <span>Асбестоцементные изделия</span>
        <div class="catalog__submenu">
          <ul class="catalog__submenu-items">
            <li class="catalog__submenu-item">
              <a class="catalog__submenu-link" href="">Рабочая температура</a>
            </li>
            <li class="catalog__submenu-item">
              <a class="catalog__submenu-link" href="">От -10 до -20 С</a>
            </li>
            <li class="catalog__submenu-item">
              <a class="catalog__submenu-link" href="">От -20 до -30 С</a>
            </li>
            <li class="catalog__submenu-item">
              <a class="catalog__submenu-link" href="">От -30 и выше</a>
            </li>
          </ul>

          <ul class="catalog__submenu-items">
            <li class="catalog__submenu-item">
              <a class="catalog__submenu-link" href="">Фасовка</a>
            </li>
            <li class="catalog__submenu-item">
              <a class="catalog__submenu-link" href="">Мешки 20 кг</a>
            </li>
            <li class="catalog__submenu-item">
              <a class="catalog__submenu-link" href="">Мешки 23 кг</a>
            </li>
            <li class="catalog__submenu-item">
              <a class="catalog__submenu-link" href="">Мешки 25 кг</a>
            </li>
            <li class="catalog__submenu-item">
              <a class="catalog__submenu-link" href="">Мешки 50 кг</a>
            </li>
            <li class="catalog__submenu-item">
              <a class="catalog__submenu-link" href="">800 кг</a>
            </li>
            <li class="catalog__submenu-item">
              <a class="catalog__submenu-link" href="">1000 кг</a>
            </li>
          </ul>
        </div>
      </li>
      <li class="catalog__menu-item">
        <span>Модифицированные смеси</span>
        <div class="catalog__submenu">
          <ul class="catalog__submenu-items">
            <li class="catalog__submenu-item">
              <a class="catalog__submenu-link" href="">Рабочая температура</a>
            </li>
            <li class="catalog__submenu-item">
              <a class="catalog__submenu-link" href="">От -10 до -20 С</a>
            </li>
            <li class="catalog__submenu-item">
              <a class="catalog__submenu-link" href="">От -20 до -30 С</a>
            </li>
            <li class="catalog__submenu-item">
              <a class="catalog__submenu-link" href="">От -30 и выше</a>
            </li>
          </ul>

          <ul class="catalog__submenu-items">
            <li class="catalog__submenu-item">
              <a class="catalog__submenu-link" href="">Фасовка</a>
            </li>
            <li class="catalog__submenu-item">
              <a class="catalog__submenu-link" href="">Мешки 20 кг</a>
            </li>
            <li class="catalog__submenu-item">
              <a class="catalog__submenu-link" href="">Мешки 23 кг</a>
            </li>
            <li class="catalog__submenu-item">
              <a class="catalog__submenu-link" href="">Мешки 25 кг</a>
            </li>
            <li class="catalog__submenu-item">
              <a class="catalog__submenu-link" href="">Мешки 50 кг</a>
            </li>
            <li class="catalog__submenu-item">
              <a class="catalog__submenu-link" href="">800 кг</a>
            </li>
            <li class="catalog__submenu-item">
              <a class="catalog__submenu-link" href="">1000 кг</a>
            </li>
          </ul>

          <ul class="catalog__submenu-items">
            <li class="catalog__submenu-item">
              <a class="catalog__submenu-link" href="">Действующее вещество</a>
            </li>
            <li class="catalog__submenu-item">
              <a class="catalog__submenu-link" href="">Минеральный галит</a>
            </li>
            <li class="catalog__submenu-item">
              <a class="catalog__submenu-link" href="">Пескосоль</a>
            </li>
            <li class="catalog__submenu-item">
              <a class="catalog__submenu-link" href="">Хлорид кальция</a>
            </li>
            <li class="catalog__submenu-item">
              <a class="catalog__submenu-link" href="">Хлорид магния</a>
            </li>
            <li class="catalog__submenu-item">
              <a class="catalog__submenu-link" href="">Гранитная крошка</a>
            </li>
          </ul>

          <ul class="catalog__submenu-items">
            <li class="catalog__submenu-item">
              <a class="catalog__submenu-link" href="">Производитель</a>
            </li>
            <li class="catalog__submenu-item">
              <a class="catalog__submenu-link" href="">Бионорд</a>
            </li>
            <li class="catalog__submenu-item">
              <a class="catalog__submenu-link" href="">ICEHIT</a>
            </li>
            <li class="catalog__submenu-item">
              <a class="catalog__submenu-link" href="">ICEMELT</a>
            </li>
            <li class="catalog__submenu-item">
              <a class="catalog__submenu-link" href="">DMS</a>
            </li>
            <li class="catalog__submenu-item">
              <a class="catalog__submenu-link" href="">DMS</a>
            </li>
            <li class="catalog__submenu-item">
              <a class="catalog__submenu-link" href="">Баскунчак</a>
            </li>
            <li class="catalog__submenu-item">
              <a class="catalog__submenu-link" href="">Карелия Тайп</a>
            </li>
            <li class="catalog__submenu-item">
              <a class="catalog__submenu-link" href="">Пескодром</a>
            </li>
            <li class="catalog__submenu-item">
              <a class="catalog__submenu-link" href="">Урал Ресурс</a>
            </li>
          </ul>
        </div>
      </li>
      <li class="catalog__menu-item">
        <span>Плоский шифер</span>
        <div class="catalog__submenu">
          <ul class="catalog__submenu-items">
            <li class="catalog__submenu-item">
              <a class="catalog__submenu-link" href="">Рабочая температура</a>
            </li>
            <li class="catalog__submenu-item">
              <a class="catalog__submenu-link" href="">От -10 до -20 С</a>
            </li>
            <li class="catalog__submenu-item">
              <a class="catalog__submenu-link" href="">От -20 до -30 С</a>
            </li>
            <li class="catalog__submenu-item">
              <a class="catalog__submenu-link" href="">От -30 и выше</a>
            </li>
          </ul>

          <ul class="catalog__submenu-items">
            <li class="catalog__submenu-item">
              <a class="catalog__submenu-link" href="">Фасовка</a>
            </li>
            <li class="catalog__submenu-item">
              <a class="catalog__submenu-link" href="">Мешки 20 кг</a>
            </li>
            <li class="catalog__submenu-item">
              <a class="catalog__submenu-link" href="">Мешки 23 кг</a>
            </li>
            <li class="catalog__submenu-item">
              <a class="catalog__submenu-link" href="">Мешки 25 кг</a>
            </li>
            <li class="catalog__submenu-item">
              <a class="catalog__submenu-link" href="">Мешки 50 кг</a>
            </li>
            <li class="catalog__submenu-item">
              <a class="catalog__submenu-link" href="">800 кг</a>
            </li>
            <li class="catalog__submenu-item">
              <a class="catalog__submenu-link" href="">1000 кг</a>
            </li>
          </ul>

          <ul class="catalog__submenu-items">
            <li class="catalog__submenu-item">
              <a class="catalog__submenu-link" href="">Действующее вещество</a>
            </li>
            <li class="catalog__submenu-item">
              <a class="catalog__submenu-link" href="">Минеральный галит</a>
            </li>
            <li class="catalog__submenu-item">
              <a class="catalog__submenu-link" href="">Пескосоль</a>
            </li>
            <li class="catalog__submenu-item">
              <a class="catalog__submenu-link" href="">Хлорид кальция</a>
            </li>
            <li class="catalog__submenu-item">
              <a class="catalog__submenu-link" href="">Хлорид магния</a>
            </li>
            <li class="catalog__submenu-item">
              <a class="catalog__submenu-link" href="">Гранитная крошка</a>
            </li>
          </ul>

          <ul class="catalog__submenu-items">
            <li class="catalog__submenu-item">
              <a class="catalog__submenu-link" href="">Производитель</a>
            </li>
            <li class="catalog__submenu-item">
              <a class="catalog__submenu-link" href="">Бионорд</a>
            </li>
            <li class="catalog__submenu-item">
              <a class="catalog__submenu-link" href="">ICEHIT</a>
            </li>
            <li class="catalog__submenu-item">
              <a class="catalog__submenu-link" href="">ICEMELT</a>
            </li>
            <li class="catalog__submenu-item">
              <a class="catalog__submenu-link" href="">DMS</a>
            </li>
            <li class="catalog__submenu-item">
              <a class="catalog__submenu-link" href="">DMS</a>
            </li>
            <li class="catalog__submenu-item">
              <a class="catalog__submenu-link" href="">Баскунчак</a>
            </li>
            <li class="catalog__submenu-item">
              <a class="catalog__submenu-link" href="">Карелия Тайп</a>
            </li>
            <li class="catalog__submenu-item">
              <a class="catalog__submenu-link" href="">Пескодром</a>
            </li>
            <li class="catalog__submenu-item">
              <a class="catalog__submenu-link" href="">Урал Ресурс</a>
            </li>
          </ul>
        </div>
      </li>
      <li class="catalog__menu-item">
        <span>Щебень</span>
        <div class="catalog__submenu">
          <ul class="catalog__submenu-items">
            <li class="catalog__submenu-item">
              <a class="catalog__submenu-link" href="">Рабочая температура</a>
            </li>
            <li class="catalog__submenu-item">
              <a class="catalog__submenu-link" href="">От -10 до -20 С</a>
            </li>
            <li class="catalog__submenu-item">
              <a class="catalog__submenu-link" href="">От -20 до -30 С</a>
            </li>
            <li class="catalog__submenu-item">
              <a class="catalog__submenu-link" href="">От -30 и выше</a>
            </li>
          </ul>

          <ul class="catalog__submenu-items">
            <li class="catalog__submenu-item">
              <a class="catalog__submenu-link" href="">Фасовка</a>
            </li>
            <li class="catalog__submenu-item">
              <a class="catalog__submenu-link" href="">Мешки 20 кг</a>
            </li>
            <li class="catalog__submenu-item">
              <a class="catalog__submenu-link" href="">Мешки 23 кг</a>
            </li>
            <li class="catalog__submenu-item">
              <a class="catalog__submenu-link" href="">Мешки 25 кг</a>
            </li>
            <li class="catalog__submenu-item">
              <a class="catalog__submenu-link" href="">Мешки 50 кг</a>
            </li>
            <li class="catalog__submenu-item">
              <a class="catalog__submenu-link" href="">800 кг</a>
            </li>
            <li class="catalog__submenu-item">
              <a class="catalog__submenu-link" href="">1000 кг</a>
            </li>
          </ul>

          <ul class="catalog__submenu-items">
            <li class="catalog__submenu-item">
              <a class="catalog__submenu-link" href="">Действующее вещество</a>
            </li>
            <li class="catalog__submenu-item">
              <a class="catalog__submenu-link" href="">Минеральный галит</a>
            </li>
            <li class="catalog__submenu-item">
              <a class="catalog__submenu-link" href="">Пескосоль</a>
            </li>
            <li class="catalog__submenu-item">
              <a class="catalog__submenu-link" href="">Хлорид кальция</a>
            </li>
            <li class="catalog__submenu-item">
              <a class="catalog__submenu-link" href="">Хлорид магния</a>
            </li>
            <li class="catalog__submenu-item">
              <a class="catalog__submenu-link" href="">Гранитная крошка</a>
            </li>
          </ul>

          <ul class="catalog__submenu-items">
            <li class="catalog__submenu-item">
              <a class="catalog__submenu-link" href="">Производитель</a>
            </li>
            <li class="catalog__submenu-item">
              <a class="catalog__submenu-link" href="">Бионорд</a>
            </li>
            <li class="catalog__submenu-item">
              <a class="catalog__submenu-link" href="">ICEHIT</a>
            </li>
            <li class="catalog__submenu-item">
              <a class="catalog__submenu-link" href="">ICEMELT</a>
            </li>
            <li class="catalog__submenu-item">
              <a class="catalog__submenu-link" href="">DMS</a>
            </li>
            <li class="catalog__submenu-item">
              <a class="catalog__submenu-link" href="">DMS</a>
            </li>
            <li class="catalog__submenu-item">
              <a class="catalog__submenu-link" href="">Баскунчак</a>
            </li>
            <li class="catalog__submenu-item">
              <a class="catalog__submenu-link" href="">Карелия Тайп</a>
            </li>
            <li class="catalog__submenu-item">
              <a class="catalog__submenu-link" href="">Пескодром</a>
            </li>
            <li class="catalog__submenu-item">
              <a class="catalog__submenu-link" href="">Урал Ресурс</a>
            </li>
          </ul>
        </div>
      </li>
      <li class="catalog__menu-item">
        <span>Металлопрокат</span>
        <div class="catalog__submenu">
          <ul class="catalog__submenu-items">
            <li class="catalog__submenu-item">
              <a class="catalog__submenu-link" href="">Рабочая температура</a>
            </li>
            <li class="catalog__submenu-item">
              <a class="catalog__submenu-link" href="">От -10 до -20 С</a>
            </li>
            <li class="catalog__submenu-item">
              <a class="catalog__submenu-link" href="">От -20 до -30 С</a>
            </li>
            <li class="catalog__submenu-item">
              <a class="catalog__submenu-link" href="">От -30 и выше</a>
            </li>
          </ul>

          <ul class="catalog__submenu-items">
            <li class="catalog__submenu-item">
              <a class="catalog__submenu-link" href="">Фасовка</a>
            </li>
            <li class="catalog__submenu-item">
              <a class="catalog__submenu-link" href="">Мешки 20 кг</a>
            </li>
            <li class="catalog__submenu-item">
              <a class="catalog__submenu-link" href="">Мешки 23 кг</a>
            </li>
            <li class="catalog__submenu-item">
              <a class="catalog__submenu-link" href="">Мешки 25 кг</a>
            </li>
            <li class="catalog__submenu-item">
              <a class="catalog__submenu-link" href="">Мешки 50 кг</a>
            </li>
            <li class="catalog__submenu-item">
              <a class="catalog__submenu-link" href="">800 кг</a>
            </li>
            <li class="catalog__submenu-item">
              <a class="catalog__submenu-link" href="">1000 кг</a>
            </li>
          </ul>

          <ul class="catalog__submenu-items">
            <li class="catalog__submenu-item">
              <a class="catalog__submenu-link" href="">Действующее вещество</a>
            </li>
            <li class="catalog__submenu-item">
              <a class="catalog__submenu-link" href="">Минеральный галит</a>
            </li>
            <li class="catalog__submenu-item">
              <a class="catalog__submenu-link" href="">Пескосоль</a>
            </li>
            <li class="catalog__submenu-item">
              <a class="catalog__submenu-link" href="">Хлорид кальция</a>
            </li>
            <li class="catalog__submenu-item">
              <a class="catalog__submenu-link" href="">Хлорид магния</a>
            </li>
            <li class="catalog__submenu-item">
              <a class="catalog__submenu-link" href="">Гранитная крошка</a>
            </li>
          </ul>

          <ul class="catalog__submenu-items">
            <li class="catalog__submenu-item">
              <a class="catalog__submenu-link" href="">Производитель</a>
            </li>
            <li class="catalog__submenu-item">
              <a class="catalog__submenu-link" href="">Бионорд</a>
            </li>
            <li class="catalog__submenu-item">
              <a class="catalog__submenu-link" href="">ICEHIT</a>
            </li>
            <li class="catalog__submenu-item">
              <a class="catalog__submenu-link" href="">ICEMELT</a>
            </li>
            <li class="catalog__submenu-item">
              <a class="catalog__submenu-link" href="">DMS</a>
            </li>
            <li class="catalog__submenu-item">
              <a class="catalog__submenu-link" href="">DMS</a>
            </li>
            <li class="catalog__submenu-item">
              <a class="catalog__submenu-link" href="">Баскунчак</a>
            </li>
            <li class="catalog__submenu-item">
              <a class="catalog__submenu-link" href="">Карелия Тайп</a>
            </li>
            <li class="catalog__submenu-item">
              <a class="catalog__submenu-link" href="">Пескодром</a>
            </li>
            <li class="catalog__submenu-item">
              <a class="catalog__submenu-link" href="">Урал Ресурс</a>
            </li>
          </ul>
        </div>
      </li>
      <li class="catalog__menu-item">
        <span>Металлопрокат</span>
        <div class="catalog__submenu">
          <ul class="catalog__submenu-items">
            <li class="catalog__submenu-item">
              <a class="catalog__submenu-link" href="">Рабочая температура</a>
            </li>
            <li class="catalog__submenu-item">
              <a class="catalog__submenu-link" href="">От -10 до -20 С</a>
            </li>
            <li class="catalog__submenu-item">
              <a class="catalog__submenu-link" href="">От -20 до -30 С</a>
            </li>
            <li class="catalog__submenu-item">
              <a class="catalog__submenu-link" href="">От -30 и выше</a>
            </li>
          </ul>

          <ul class="catalog__submenu-items">
            <li class="catalog__submenu-item">
              <a class="catalog__submenu-link" href="">Фасовка</a>
            </li>
            <li class="catalog__submenu-item">
              <a class="catalog__submenu-link" href="">Мешки 20 кг</a>
            </li>
            <li class="catalog__submenu-item">
              <a class="catalog__submenu-link" href="">Мешки 23 кг</a>
            </li>
            <li class="catalog__submenu-item">
              <a class="catalog__submenu-link" href="">Мешки 25 кг</a>
            </li>
            <li class="catalog__submenu-item">
              <a class="catalog__submenu-link" href="">Мешки 50 кг</a>
            </li>
            <li class="catalog__submenu-item">
              <a class="catalog__submenu-link" href="">800 кг</a>
            </li>
            <li class="catalog__submenu-item">
              <a class="catalog__submenu-link" href="">1000 кг</a>
            </li>
          </ul>

          <ul class="catalog__submenu-items">
            <li class="catalog__submenu-item">
              <a class="catalog__submenu-link" href="">Действующее вещество</a>
            </li>
            <li class="catalog__submenu-item">
              <a class="catalog__submenu-link" href="">Минеральный галит</a>
            </li>
            <li class="catalog__submenu-item">
              <a class="catalog__submenu-link" href="">Пескосоль</a>
            </li>
            <li class="catalog__submenu-item">
              <a class="catalog__submenu-link" href="">Хлорид кальция</a>
            </li>
            <li class="catalog__submenu-item">
              <a class="catalog__submenu-link" href="">Хлорид магния</a>
            </li>
            <li class="catalog__submenu-item">
              <a class="catalog__submenu-link" href="">Гранитная крошка</a>
            </li>
          </ul>

          <ul class="catalog__submenu-items">
            <li class="catalog__submenu-item">
              <a class="catalog__submenu-link" href="">Производитель</a>
            </li>
            <li class="catalog__submenu-item">
              <a class="catalog__submenu-link" href="">Бионорд</a>
            </li>
            <li class="catalog__submenu-item">
              <a class="catalog__submenu-link" href="">ICEHIT</a>
            </li>
            <li class="catalog__submenu-item">
              <a class="catalog__submenu-link" href="">ICEMELT</a>
            </li>
            <li class="catalog__submenu-item">
              <a class="catalog__submenu-link" href="">DMS</a>
            </li>
            <li class="catalog__submenu-item">
              <a class="catalog__submenu-link" href="">DMS</a>
            </li>
            <li class="catalog__submenu-item">
              <a class="catalog__submenu-link" href="">Баскунчак</a>
            </li>
            <li class="catalog__submenu-item">
              <a class="catalog__submenu-link" href="">Карелия Тайп</a>
            </li>
            <li class="catalog__submenu-item">
              <a class="catalog__submenu-link" href="">Пескодром</a>
            </li>
            <li class="catalog__submenu-item">
              <a class="catalog__submenu-link" href="">Урал Ресурс</a>
            </li>
          </ul>
        </div>
      </li>
      <li class="catalog__menu-item">
        <span>ЖБИ</span>
        <div class="catalog__submenu">
          <ul class="catalog__submenu-items">
            <li class="catalog__submenu-item">
              <a class="catalog__submenu-link" href="">Рабочая температура</a>
            </li>
            <li class="catalog__submenu-item">
              <a class="catalog__submenu-link" href="">От -10 до -20 С</a>
            </li>
            <li class="catalog__submenu-item">
              <a class="catalog__submenu-link" href="">От -20 до -30 С</a>
            </li>
            <li class="catalog__submenu-item">
              <a class="catalog__submenu-link" href="">От -30 и выше</a>
            </li>
          </ul>

          <ul class="catalog__submenu-items">
            <li class="catalog__submenu-item">
              <a class="catalog__submenu-link" href="">Фасовка</a>
            </li>
            <li class="catalog__submenu-item">
              <a class="catalog__submenu-link" href="">Мешки 20 кг</a>
            </li>
            <li class="catalog__submenu-item">
              <a class="catalog__submenu-link" href="">Мешки 23 кг</a>
            </li>
            <li class="catalog__submenu-item">
              <a class="catalog__submenu-link" href="">Мешки 25 кг</a>
            </li>
            <li class="catalog__submenu-item">
              <a class="catalog__submenu-link" href="">Мешки 50 кг</a>
            </li>
            <li class="catalog__submenu-item">
              <a class="catalog__submenu-link" href="">800 кг</a>
            </li>
            <li class="catalog__submenu-item">
              <a class="catalog__submenu-link" href="">1000 кг</a>
            </li>
          </ul>

          <ul class="catalog__submenu-items">
            <li class="catalog__submenu-item">
              <a class="catalog__submenu-link" href="">Действующее вещество</a>
            </li>
            <li class="catalog__submenu-item">
              <a class="catalog__submenu-link" href="">Минеральный галит</a>
            </li>
            <li class="catalog__submenu-item">
              <a class="catalog__submenu-link" href="">Пескосоль</a>
            </li>
            <li class="catalog__submenu-item">
              <a class="catalog__submenu-link" href="">Хлорид кальция</a>
            </li>
            <li class="catalog__submenu-item">
              <a class="catalog__submenu-link" href="">Хлорид магния</a>
            </li>
            <li class="catalog__submenu-item">
              <a class="catalog__submenu-link" href="">Гранитная крошка</a>
            </li>
          </ul>

          <ul class="catalog__submenu-items">
            <li class="catalog__submenu-item">
              <a class="catalog__submenu-link" href="">Производитель</a>
            </li>
            <li class="catalog__submenu-item">
              <a class="catalog__submenu-link" href="">Бионорд</a>
            </li>
            <li class="catalog__submenu-item">
              <a class="catalog__submenu-link" href="">ICEHIT</a>
            </li>
            <li class="catalog__submenu-item">
              <a class="catalog__submenu-link" href="">ICEMELT</a>
            </li>
            <li class="catalog__submenu-item">
              <a class="catalog__submenu-link" href="">DMS</a>
            </li>
            <li class="catalog__submenu-item">
              <a class="catalog__submenu-link" href="">DMS</a>
            </li>
            <li class="catalog__submenu-item">
              <a class="catalog__submenu-link" href="">Баскунчак</a>
            </li>
            <li class="catalog__submenu-item">
              <a class="catalog__submenu-link" href="">Карелия Тайп</a>
            </li>
            <li class="catalog__submenu-item">
              <a class="catalog__submenu-link" href="">Пескодром</a>
            </li>
            <li class="catalog__submenu-item">
              <a class="catalog__submenu-link" href="">Урал Ресурс</a>
            </li>
          </ul>
        </div>
      </li>
      <li class="catalog__menu-item">
        <span>Стеновые материалы</span>
        <div class="catalog__submenu">
          <ul class="catalog__submenu-items">
            <li class="catalog__submenu-item">
              <a class="catalog__submenu-link" href="">Рабочая температура</a>
            </li>
            <li class="catalog__submenu-item">
              <a class="catalog__submenu-link" href="">От -10 до -20 С</a>
            </li>
            <li class="catalog__submenu-item">
              <a class="catalog__submenu-link" href="">От -20 до -30 С</a>
            </li>
            <li class="catalog__submenu-item">
              <a class="catalog__submenu-link" href="">От -30 и выше</a>
            </li>
          </ul>

          <ul class="catalog__submenu-items">
            <li class="catalog__submenu-item">
              <a class="catalog__submenu-link" href="">Фасовка</a>
            </li>
            <li class="catalog__submenu-item">
              <a class="catalog__submenu-link" href="">Мешки 20 кг</a>
            </li>
            <li class="catalog__submenu-item">
              <a class="catalog__submenu-link" href="">Мешки 23 кг</a>
            </li>
            <li class="catalog__submenu-item">
              <a class="catalog__submenu-link" href="">Мешки 25 кг</a>
            </li>
            <li class="catalog__submenu-item">
              <a class="catalog__submenu-link" href="">Мешки 50 кг</a>
            </li>
            <li class="catalog__submenu-item">
              <a class="catalog__submenu-link" href="">800 кг</a>
            </li>
            <li class="catalog__submenu-item">
              <a class="catalog__submenu-link" href="">1000 кг</a>
            </li>
          </ul>

          <ul class="catalog__submenu-items">
            <li class="catalog__submenu-item">
              <a class="catalog__submenu-link" href="">Действующее вещество</a>
            </li>
            <li class="catalog__submenu-item">
              <a class="catalog__submenu-link" href="">Минеральный галит</a>
            </li>
            <li class="catalog__submenu-item">
              <a class="catalog__submenu-link" href="">Пескосоль</a>
            </li>
            <li class="catalog__submenu-item">
              <a class="catalog__submenu-link" href="">Хлорид кальция</a>
            </li>
            <li class="catalog__submenu-item">
              <a class="catalog__submenu-link" href="">Хлорид магния</a>
            </li>
            <li class="catalog__submenu-item">
              <a class="catalog__submenu-link" href="">Гранитная крошка</a>
            </li>
          </ul>

          <ul class="catalog__submenu-items">
            <li class="catalog__submenu-item">
              <a class="catalog__submenu-link" href="">Производитель</a>
            </li>
            <li class="catalog__submenu-item">
              <a class="catalog__submenu-link" href="">Бионорд</a>
            </li>
            <li class="catalog__submenu-item">
              <a class="catalog__submenu-link" href="">ICEHIT</a>
            </li>
            <li class="catalog__submenu-item">
              <a class="catalog__submenu-link" href="">ICEMELT</a>
            </li>
            <li class="catalog__submenu-item">
              <a class="catalog__submenu-link" href="">DMS</a>
            </li>
            <li class="catalog__submenu-item">
              <a class="catalog__submenu-link" href="">DMS</a>
            </li>
            <li class="catalog__submenu-item">
              <a class="catalog__submenu-link" href="">Баскунчак</a>
            </li>
            <li class="catalog__submenu-item">
              <a class="catalog__submenu-link" href="">Карелия Тайп</a>
            </li>
            <li class="catalog__submenu-item">
              <a class="catalog__submenu-link" href="">Пескодром</a>
            </li>
            <li class="catalog__submenu-item">
              <a class="catalog__submenu-link" href="">Урал Ресурс</a>
            </li>
          </ul>
        </div>
      </li>
      <li class="catalog__menu-item">
        <span>Бетон</span>
        <div class="catalog__submenu">
          <ul class="catalog__submenu-items">
            <li class="catalog__submenu-item">
              <a class="catalog__submenu-link" href="">Рабочая температура</a>
            </li>
            <li class="catalog__submenu-item">
              <a class="catalog__submenu-link" href="">От -10 до -20 С</a>
            </li>
            <li class="catalog__submenu-item">
              <a class="catalog__submenu-link" href="">От -20 до -30 С</a>
            </li>
            <li class="catalog__submenu-item">
              <a class="catalog__submenu-link" href="">От -30 и выше</a>
            </li>
          </ul>

          <ul class="catalog__submenu-items">
            <li class="catalog__submenu-item">
              <a class="catalog__submenu-link" href="">Фасовка</a>
            </li>
            <li class="catalog__submenu-item">
              <a class="catalog__submenu-link" href="">Мешки 20 кг</a>
            </li>
            <li class="catalog__submenu-item">
              <a class="catalog__submenu-link" href="">Мешки 23 кг</a>
            </li>
            <li class="catalog__submenu-item">
              <a class="catalog__submenu-link" href="">Мешки 25 кг</a>
            </li>
            <li class="catalog__submenu-item">
              <a class="catalog__submenu-link" href="">Мешки 50 кг</a>
            </li>
            <li class="catalog__submenu-item">
              <a class="catalog__submenu-link" href="">800 кг</a>
            </li>
            <li class="catalog__submenu-item">
              <a class="catalog__submenu-link" href="">1000 кг</a>
            </li>
          </ul>

          <ul class="catalog__submenu-items">
            <li class="catalog__submenu-item">
              <a class="catalog__submenu-link" href="">Действующее вещество</a>
            </li>
            <li class="catalog__submenu-item">
              <a class="catalog__submenu-link" href="">Минеральный галит</a>
            </li>
            <li class="catalog__submenu-item">
              <a class="catalog__submenu-link" href="">Пескосоль</a>
            </li>
            <li class="catalog__submenu-item">
              <a class="catalog__submenu-link" href="">Хлорид кальция</a>
            </li>
            <li class="catalog__submenu-item">
              <a class="catalog__submenu-link" href="">Хлорид магния</a>
            </li>
            <li class="catalog__submenu-item">
              <a class="catalog__submenu-link" href="">Гранитная крошка</a>
            </li>
          </ul>

          <ul class="catalog__submenu-items">
            <li class="catalog__submenu-item">
              <a class="catalog__submenu-link" href="">Производитель</a>
            </li>
            <li class="catalog__submenu-item">
              <a class="catalog__submenu-link" href="">Бионорд</a>
            </li>
            <li class="catalog__submenu-item">
              <a class="catalog__submenu-link" href="">ICEHIT</a>
            </li>
            <li class="catalog__submenu-item">
              <a class="catalog__submenu-link" href="">ICEMELT</a>
            </li>
            <li class="catalog__submenu-item">
              <a class="catalog__submenu-link" href="">DMS</a>
            </li>
            <li class="catalog__submenu-item">
              <a class="catalog__submenu-link" href="">DMS</a>
            </li>
            <li class="catalog__submenu-item">
              <a class="catalog__submenu-link" href="">Баскунчак</a>
            </li>
            <li class="catalog__submenu-item">
              <a class="catalog__submenu-link" href="">Карелия Тайп</a>
            </li>
            <li class="catalog__submenu-item">
              <a class="catalog__submenu-link" href="">Пескодром</a>
            </li>
            <li class="catalog__submenu-item">
              <a class="catalog__submenu-link" href="">Урал Ресурс</a>
            </li>
          </ul>
        </div>
      </li>
      <li class="catalog__menu-item">
        <span>Песок</span>
        <div class="catalog__submenu">
          <ul class="catalog__submenu-items">
            <li class="catalog__submenu-item">
              <a class="catalog__submenu-link" href="">Рабочая температура</a>
            </li>
            <li class="catalog__submenu-item">
              <a class="catalog__submenu-link" href="">От -10 до -20 С</a>
            </li>
            <li class="catalog__submenu-item">
              <a class="catalog__submenu-link" href="">От -20 до -30 С</a>
            </li>
            <li class="catalog__submenu-item">
              <a class="catalog__submenu-link" href="">От -30 и выше</a>
            </li>
          </ul>

          <ul class="catalog__submenu-items">
            <li class="catalog__submenu-item">
              <a class="catalog__submenu-link" href="">Фасовка</a>
            </li>
            <li class="catalog__submenu-item">
              <a class="catalog__submenu-link" href="">Мешки 20 кг</a>
            </li>
            <li class="catalog__submenu-item">
              <a class="catalog__submenu-link" href="">Мешки 23 кг</a>
            </li>
            <li class="catalog__submenu-item">
              <a class="catalog__submenu-link" href="">Мешки 25 кг</a>
            </li>
            <li class="catalog__submenu-item">
              <a class="catalog__submenu-link" href="">Мешки 50 кг</a>
            </li>
            <li class="catalog__submenu-item">
              <a class="catalog__submenu-link" href="">800 кг</a>
            </li>
            <li class="catalog__submenu-item">
              <a class="catalog__submenu-link" href="">1000 кг</a>
            </li>
          </ul>

          <ul class="catalog__submenu-items">
            <li class="catalog__submenu-item">
              <a class="catalog__submenu-link" href="">Действующее вещество</a>
            </li>
            <li class="catalog__submenu-item">
              <a class="catalog__submenu-link" href="">Минеральный галит</a>
            </li>
            <li class="catalog__submenu-item">
              <a class="catalog__submenu-link" href="">Пескосоль</a>
            </li>
            <li class="catalog__submenu-item">
              <a class="catalog__submenu-link" href="">Хлорид кальция</a>
            </li>
            <li class="catalog__submenu-item">
              <a class="catalog__submenu-link" href="">Хлорид магния</a>
            </li>
            <li class="catalog__submenu-item">
              <a class="catalog__submenu-link" href="">Гранитная крошка</a>
            </li>
          </ul>

          <ul class="catalog__submenu-items">
            <li class="catalog__submenu-item">
              <a class="catalog__submenu-link" href="">Производитель</a>
            </li>
            <li class="catalog__submenu-item">
              <a class="catalog__submenu-link" href="">Бионорд</a>
            </li>
            <li class="catalog__submenu-item">
              <a class="catalog__submenu-link" href="">ICEHIT</a>
            </li>
            <li class="catalog__submenu-item">
              <a class="catalog__submenu-link" href="">ICEMELT</a>
            </li>
            <li class="catalog__submenu-item">
              <a class="catalog__submenu-link" href="">DMS</a>
            </li>
            <li class="catalog__submenu-item">
              <a class="catalog__submenu-link" href="">DMS</a>
            </li>
            <li class="catalog__submenu-item">
              <a class="catalog__submenu-link" href="">Баскунчак</a>
            </li>
            <li class="catalog__submenu-item">
              <a class="catalog__submenu-link" href="">Карелия Тайп</a>
            </li>
            <li class="catalog__submenu-item">
              <a class="catalog__submenu-link" href="">Пескодром</a>
            </li>
            <li class="catalog__submenu-item">
              <a class="catalog__submenu-link" href="">Урал Ресурс</a>
            </li>
          </ul>
        </div>
      </li>
      <li class="catalog__menu-item">
        <span>Керамзит</span>
        <div class="catalog__submenu">
          <ul class="catalog__submenu-items">
            <li class="catalog__submenu-item">
              <a class="catalog__submenu-link" href="">Рабочая температура</a>
            </li>
            <li class="catalog__submenu-item">
              <a class="catalog__submenu-link" href="">От -10 до -20 С</a>
            </li>
            <li class="catalog__submenu-item">
              <a class="catalog__submenu-link" href="">От -20 до -30 С</a>
            </li>
            <li class="catalog__submenu-item">
              <a class="catalog__submenu-link" href="">От -30 и выше</a>
            </li>
          </ul>

          <ul class="catalog__submenu-items">
            <li class="catalog__submenu-item">
              <a class="catalog__submenu-link" href="">Фасовка</a>
            </li>
            <li class="catalog__submenu-item">
              <a class="catalog__submenu-link" href="">Мешки 20 кг</a>
            </li>
            <li class="catalog__submenu-item">
              <a class="catalog__submenu-link" href="">Мешки 23 кг</a>
            </li>
            <li class="catalog__submenu-item">
              <a class="catalog__submenu-link" href="">Мешки 25 кг</a>
            </li>
            <li class="catalog__submenu-item">
              <a class="catalog__submenu-link" href="">Мешки 50 кг</a>
            </li>
            <li class="catalog__submenu-item">
              <a class="catalog__submenu-link" href="">800 кг</a>
            </li>
            <li class="catalog__submenu-item">
              <a class="catalog__submenu-link" href="">1000 кг</a>
            </li>
          </ul>

          <ul class="catalog__submenu-items">
            <li class="catalog__submenu-item">
              <a class="catalog__submenu-link" href="">Действующее вещество</a>
            </li>
            <li class="catalog__submenu-item">
              <a class="catalog__submenu-link" href="">Минеральный галит</a>
            </li>
            <li class="catalog__submenu-item">
              <a class="catalog__submenu-link" href="">Пескосоль</a>
            </li>
            <li class="catalog__submenu-item">
              <a class="catalog__submenu-link" href="">Хлорид кальция</a>
            </li>
            <li class="catalog__submenu-item">
              <a class="catalog__submenu-link" href="">Хлорид магния</a>
            </li>
            <li class="catalog__submenu-item">
              <a class="catalog__submenu-link" href="">Гранитная крошка</a>
            </li>
          </ul>

          <ul class="catalog__submenu-items">
            <li class="catalog__submenu-item">
              <a class="catalog__submenu-link" href="">Производитель</a>
            </li>
            <li class="catalog__submenu-item">
              <a class="catalog__submenu-link" href="">Бионорд</a>
            </li>
            <li class="catalog__submenu-item">
              <a class="catalog__submenu-link" href="">ICEHIT</a>
            </li>
            <li class="catalog__submenu-item">
              <a class="catalog__submenu-link" href="">ICEMELT</a>
            </li>
            <li class="catalog__submenu-item">
              <a class="catalog__submenu-link" href="">DMS</a>
            </li>
            <li class="catalog__submenu-item">
              <a class="catalog__submenu-link" href="">DMS</a>
            </li>
            <li class="catalog__submenu-item">
              <a class="catalog__submenu-link" href="">Баскунчак</a>
            </li>
            <li class="catalog__submenu-item">
              <a class="catalog__submenu-link" href="">Карелия Тайп</a>
            </li>
            <li class="catalog__submenu-item">
              <a class="catalog__submenu-link" href="">Пескодром</a>
            </li>
            <li class="catalog__submenu-item">
              <a class="catalog__submenu-link" href="">Урал Ресурс</a>
            </li>
          </ul>
        </div>
      </li>
      <li class="catalog__menu-item">
        <span>Теплоизоляция</span>
        <div class="catalog__submenu">
          <ul class="catalog__submenu-items">
            <li class="catalog__submenu-item">
              <a class="catalog__submenu-link" href="">Рабочая температура</a>
            </li>
            <li class="catalog__submenu-item">
              <a class="catalog__submenu-link" href="">От -10 до -20 С</a>
            </li>
            <li class="catalog__submenu-item">
              <a class="catalog__submenu-link" href="">От -20 до -30 С</a>
            </li>
            <li class="catalog__submenu-item">
              <a class="catalog__submenu-link" href="">От -30 и выше</a>
            </li>
          </ul>

          <ul class="catalog__submenu-items">
            <li class="catalog__submenu-item">
              <a class="catalog__submenu-link" href="">Фасовка</a>
            </li>
            <li class="catalog__submenu-item">
              <a class="catalog__submenu-link" href="">Мешки 20 кг</a>
            </li>
            <li class="catalog__submenu-item">
              <a class="catalog__submenu-link" href="">Мешки 23 кг</a>
            </li>
            <li class="catalog__submenu-item">
              <a class="catalog__submenu-link" href="">Мешки 25 кг</a>
            </li>
            <li class="catalog__submenu-item">
              <a class="catalog__submenu-link" href="">Мешки 50 кг</a>
            </li>
            <li class="catalog__submenu-item">
              <a class="catalog__submenu-link" href="">800 кг</a>
            </li>
            <li class="catalog__submenu-item">
              <a class="catalog__submenu-link" href="">1000 кг</a>
            </li>
          </ul>

          <ul class="catalog__submenu-items">
            <li class="catalog__submenu-item">
              <a class="catalog__submenu-link" href="">Действующее вещество</a>
            </li>
            <li class="catalog__submenu-item">
              <a class="catalog__submenu-link" href="">Минеральный галит</a>
            </li>
            <li class="catalog__submenu-item">
              <a class="catalog__submenu-link" href="">Пескосоль</a>
            </li>
            <li class="catalog__submenu-item">
              <a class="catalog__submenu-link" href="">Хлорид кальция</a>
            </li>
            <li class="catalog__submenu-item">
              <a class="catalog__submenu-link" href="">Хлорид магния</a>
            </li>
            <li class="catalog__submenu-item">
              <a class="catalog__submenu-link" href="">Гранитная крошка</a>
            </li>
          </ul>

          <ul class="catalog__submenu-items">
            <li class="catalog__submenu-item">
              <a class="catalog__submenu-link" href="">Производитель</a>
            </li>
            <li class="catalog__submenu-item">
              <a class="catalog__submenu-link" href="">Бионорд</a>
            </li>
            <li class="catalog__submenu-item">
              <a class="catalog__submenu-link" href="">ICEHIT</a>
            </li>
            <li class="catalog__submenu-item">
              <a class="catalog__submenu-link" href="">ICEMELT</a>
            </li>
            <li class="catalog__submenu-item">
              <a class="catalog__submenu-link" href="">DMS</a>
            </li>
            <li class="catalog__submenu-item">
              <a class="catalog__submenu-link" href="">DMS</a>
            </li>
            <li class="catalog__submenu-item">
              <a class="catalog__submenu-link" href="">Баскунчак</a>
            </li>
            <li class="catalog__submenu-item">
              <a class="catalog__submenu-link" href="">Карелия Тайп</a>
            </li>
            <li class="catalog__submenu-item">
              <a class="catalog__submenu-link" href="">Пескодром</a>
            </li>
            <li class="catalog__submenu-item">
              <a class="catalog__submenu-link" href="">Урал Ресурс</a>
            </li>
          </ul>
        </div>
      </li>
      <li class="catalog__menu-item">
        <span>Гидроизоляция</span>
        <div class="catalog__submenu">
          <ul class="catalog__submenu-items">
            <li class="catalog__submenu-item">
              <a class="catalog__submenu-link" href="">Рабочая температура</a>
            </li>
            <li class="catalog__submenu-item">
              <a class="catalog__submenu-link" href="">От -10 до -20 С</a>
            </li>
            <li class="catalog__submenu-item">
              <a class="catalog__submenu-link" href="">От -20 до -30 С</a>
            </li>
            <li class="catalog__submenu-item">
              <a class="catalog__submenu-link" href="">От -30 и выше</a>
            </li>
          </ul>

          <ul class="catalog__submenu-items">
            <li class="catalog__submenu-item">
              <a class="catalog__submenu-link" href="">Фасовка</a>
            </li>
            <li class="catalog__submenu-item">
              <a class="catalog__submenu-link" href="">Мешки 20 кг</a>
            </li>
            <li class="catalog__submenu-item">
              <a class="catalog__submenu-link" href="">Мешки 23 кг</a>
            </li>
            <li class="catalog__submenu-item">
              <a class="catalog__submenu-link" href="">Мешки 25 кг</a>
            </li>
            <li class="catalog__submenu-item">
              <a class="catalog__submenu-link" href="">Мешки 50 кг</a>
            </li>
            <li class="catalog__submenu-item">
              <a class="catalog__submenu-link" href="">800 кг</a>
            </li>
            <li class="catalog__submenu-item">
              <a class="catalog__submenu-link" href="">1000 кг</a>
            </li>
          </ul>

          <ul class="catalog__submenu-items">
            <li class="catalog__submenu-item">
              <a class="catalog__submenu-link" href="">Действующее вещество</a>
            </li>
            <li class="catalog__submenu-item">
              <a class="catalog__submenu-link" href="">Минеральный галит</a>
            </li>
            <li class="catalog__submenu-item">
              <a class="catalog__submenu-link" href="">Пескосоль</a>
            </li>
            <li class="catalog__submenu-item">
              <a class="catalog__submenu-link" href="">Хлорид кальция</a>
            </li>
            <li class="catalog__submenu-item">
              <a class="catalog__submenu-link" href="">Хлорид магния</a>
            </li>
            <li class="catalog__submenu-item">
              <a class="catalog__submenu-link" href="">Гранитная крошка</a>
            </li>
          </ul>

          <ul class="catalog__submenu-items">
            <li class="catalog__submenu-item">
              <a class="catalog__submenu-link" href="">Производитель</a>
            </li>
            <li class="catalog__submenu-item">
              <a class="catalog__submenu-link" href="">Бионорд</a>
            </li>
            <li class="catalog__submenu-item">
              <a class="catalog__submenu-link" href="">ICEHIT</a>
            </li>
            <li class="catalog__submenu-item">
              <a class="catalog__submenu-link" href="">ICEMELT</a>
            </li>
            <li class="catalog__submenu-item">
              <a class="catalog__submenu-link" href="">DMS</a>
            </li>
            <li class="catalog__submenu-item">
              <a class="catalog__submenu-link" href="">DMS</a>
            </li>
            <li class="catalog__submenu-item">
              <a class="catalog__submenu-link" href="">Баскунчак</a>
            </li>
            <li class="catalog__submenu-item">
              <a class="catalog__submenu-link" href="">Карелия Тайп</a>
            </li>
            <li class="catalog__submenu-item">
              <a class="catalog__submenu-link" href="">Пескодром</a>
            </li>
            <li class="catalog__submenu-item">
              <a class="catalog__submenu-link" href="">Урал Ресурс</a>
            </li>
          </ul>
        </div>
      </li>
      <li class="catalog__menu-item">
        <span>Гипсокартон</span>
        <div class="catalog__submenu">
          <ul class="catalog__submenu-items">
            <li class="catalog__submenu-item">
              <a class="catalog__submenu-link" href="">Рабочая температура</a>
            </li>
            <li class="catalog__submenu-item">
              <a class="catalog__submenu-link" href="">От -10 до -20 С</a>
            </li>
            <li class="catalog__submenu-item">
              <a class="catalog__submenu-link" href="">От -20 до -30 С</a>
            </li>
            <li class="catalog__submenu-item">
              <a class="catalog__submenu-link" href="">От -30 и выше</a>
            </li>
          </ul>

          <ul class="catalog__submenu-items">
            <li class="catalog__submenu-item">
              <a class="catalog__submenu-link" href="">Фасовка</a>
            </li>
            <li class="catalog__submenu-item">
              <a class="catalog__submenu-link" href="">Мешки 20 кг</a>
            </li>
            <li class="catalog__submenu-item">
              <a class="catalog__submenu-link" href="">Мешки 23 кг</a>
            </li>
            <li class="catalog__submenu-item">
              <a class="catalog__submenu-link" href="">Мешки 25 кг</a>
            </li>
            <li class="catalog__submenu-item">
              <a class="catalog__submenu-link" href="">Мешки 50 кг</a>
            </li>
            <li class="catalog__submenu-item">
              <a class="catalog__submenu-link" href="">800 кг</a>
            </li>
            <li class="catalog__submenu-item">
              <a class="catalog__submenu-link" href="">1000 кг</a>
            </li>
          </ul>

          <ul class="catalog__submenu-items">
            <li class="catalog__submenu-item">
              <a class="catalog__submenu-link" href="">Действующее вещество</a>
            </li>
            <li class="catalog__submenu-item">
              <a class="catalog__submenu-link" href="">Минеральный галит</a>
            </li>
            <li class="catalog__submenu-item">
              <a class="catalog__submenu-link" href="">Пескосоль</a>
            </li>
            <li class="catalog__submenu-item">
              <a class="catalog__submenu-link" href="">Хлорид кальция</a>
            </li>
            <li class="catalog__submenu-item">
              <a class="catalog__submenu-link" href="">Хлорид магния</a>
            </li>
            <li class="catalog__submenu-item">
              <a class="catalog__submenu-link" href="">Гранитная крошка</a>
            </li>
          </ul>

          <ul class="catalog__submenu-items">
            <li class="catalog__submenu-item">
              <a class="catalog__submenu-link" href="">Производитель</a>
            </li>
            <li class="catalog__submenu-item">
              <a class="catalog__submenu-link" href="">Бионорд</a>
            </li>
            <li class="catalog__submenu-item">
              <a class="catalog__submenu-link" href="">ICEHIT</a>
            </li>
            <li class="catalog__submenu-item">
              <a class="catalog__submenu-link" href="">ICEMELT</a>
            </li>
            <li class="catalog__submenu-item">
              <a class="catalog__submenu-link" href="">DMS</a>
            </li>
            <li class="catalog__submenu-item">
              <a class="catalog__submenu-link" href="">DMS</a>
            </li>
            <li class="catalog__submenu-item">
              <a class="catalog__submenu-link" href="">Баскунчак</a>
            </li>
            <li class="catalog__submenu-item">
              <a class="catalog__submenu-link" href="">Карелия Тайп</a>
            </li>
            <li class="catalog__submenu-item">
              <a class="catalog__submenu-link" href="">Пескодром</a>
            </li>
            <li class="catalog__submenu-item">
              <a class="catalog__submenu-link" href="">Урал Ресурс</a>
            </li>
          </ul>
        </div>
      </li>
    </ul>
  </div>
  <div class="catalog__aside"></div>
</div>
