<div class="mobile" hidden>
  <div class="mobile__inner">
    <div class="mobile__search"></div>
    <ul class="mobile__top">
      <li class="mobile__top-row">
        <span class="mobile__title">Главное меню</span>
        <button class="mobile__close"></button>
      </li>
      <li class="mobile__top-row" data-action="open-mobile-catalog">
        <span class="mobile__subtitle">Каталог товаров</span>
      </li>
      <li class="mobile__top-row" data-action="close-mobile-catalog" hidden>
        <span class="mobile__subtitle">Назад к меню</span>
      </li>
    </ul>

    <div class="mobile__main-menu">
      <ul class="mobile__menu-items">
        <!-- catalog -->
        <li class="mobile__menu-item" data-menu="mobile-catalog" hidden>
          <ul class="mobile__menu-items">
            <li class="mobile__catalog-item" data-action="show-catalog-submenu">
              <span class="mobile__catalog-title">Цемент</span>

              <div class="mobile__catalog-content">
                <ul class="mobile__catalog-items">
                  <li class="mobile__catalog-item">
                    <a class="mobile__catalog-link" href=""
                      >Рабочая температура</a
                    >
                  </li>
                  <li class="mobile__catalog-item">
                    <a class="mobile__catalog-link" href="">От -10 до -20 С</a>
                  </li>
                  <li class="mobile__catalog-item">
                    <a class="mobile__catalog-link" href="">От -20 до -30 С</a>
                  </li>
                  <li class="mobile__catalog-item">
                    <a class="mobile__catalog-link" href="">От -30 и выше</a>
                  </li>
                </ul>

                <ul class="mobile__catalog-items">
                  <li class="mobile__catalog-item">
                    <a class="mobile__catalog-link" href=""
                      >Действующее вещество</a
                    >
                  </li>
                  <li class="mobile__catalog-item">
                    <a class="mobile__catalog-link" href=""
                      >Минеральный галит</a
                    >
                  </li>
                  <li class="mobile__catalog-item">
                    <a class="mobile__catalog-link" href="">Пескосоль</a>
                  </li>
                  <li class="mobile__catalog-item">
                    <a class="mobile__catalog-link" href="">Хлорид кальция</a>
                  </li>
                  <li class="mobile__catalog-item">
                    <a class="mobile__catalog-link" href="">Хлорид магния</a>
                  </li>
                  <li class="mobile__catalog-item">
                    <a class="mobile__catalog-link" href="">Гранитная крошка</a>
                  </li>
                </ul>

                <ul class="mobile__catalog-items">
                  <li class="mobile__catalog-item">
                    <a class="mobile__catalog-link" href="">Производитель</a>
                  </li>
                  <li class="mobile__catalog-item">
                    <a class="mobile__catalog-link" href="">Бионорд</a>
                  </li>
                  <li class="mobile__catalog-item">
                    <a class="mobile__catalog-link" href="">ICEHIT</a>
                  </li>
                  <li class="mobile__catalog-item">
                    <a class="mobile__catalog-link" href="">ICEMELT</a>
                  </li>
                  <li class="mobile__catalog-item">
                    <a class="mobile__catalog-link" href="">DMS</a>
                  </li>
                  <li class="mobile__catalog-item">
                    <a class="mobile__catalog-link" href="">DMS</a>
                  </li>
                  <li class="mobile__catalog-item">
                    <a class="mobile__catalog-link" href="">Баскунчак</a>
                  </li>
                  <li class="mobile__catalog-item">
                    <a class="mobile__catalog-link" href="">Карелия Тайп</a>
                  </li>
                  <li class="mobile__catalog-item">
                    <a class="mobile__catalog-link" href="">Пескодром</a>
                  </li>
                  <li class="mobile__catalog-item">
                    <a class="mobile__catalog-link" href="">Урал Ресурс</a>
                  </li>
                </ul>
              </div>
            </li>
            <li class="mobile__catalog-item" data-action="show-catalog-submenu">
              <span class="mobile__catalog-title"
                >Противогололедные реагенты</span
              >

              <div class="mobile__catalog-content">
                <ul class="mobile__catalog-items">
                  <li class="mobile__catalog-item">
                    <a class="mobile__catalog-link" href=""
                      >Рабочая температура</a
                    >
                  </li>
                  <li class="mobile__catalog-item">
                    <a class="mobile__catalog-link" href="">От -10 до -20 С</a>
                  </li>
                  <li class="mobile__catalog-item">
                    <a class="mobile__catalog-link" href="">От -20 до -30 С</a>
                  </li>
                  <li class="mobile__catalog-item">
                    <a class="mobile__catalog-link" href="">От -30 и выше</a>
                  </li>
                </ul>

                <ul class="mobile__catalog-items">
                  <li class="mobile__catalog-item">
                    <a class="mobile__catalog-link" href=""
                      >Действующее вещество</a
                    >
                  </li>
                  <li class="mobile__catalog-item">
                    <a class="mobile__catalog-link" href=""
                      >Минеральный галит</a
                    >
                  </li>
                  <li class="mobile__catalog-item">
                    <a class="mobile__catalog-link" href="">Пескосоль</a>
                  </li>
                  <li class="mobile__catalog-item">
                    <a class="mobile__catalog-link" href="">Хлорид кальция</a>
                  </li>
                  <li class="mobile__catalog-item">
                    <a class="mobile__catalog-link" href="">Хлорид магния</a>
                  </li>
                  <li class="mobile__catalog-item">
                    <a class="mobile__catalog-link" href="">Гранитная крошка</a>
                  </li>
                </ul>

                <ul class="mobile__catalog-items">
                  <li class="mobile__catalog-item">
                    <a class="mobile__catalog-link" href="">Производитель</a>
                  </li>
                  <li class="mobile__catalog-item">
                    <a class="mobile__catalog-link" href="">Бионорд</a>
                  </li>
                  <li class="mobile__catalog-item">
                    <a class="mobile__catalog-link" href="">ICEHIT</a>
                  </li>
                  <li class="mobile__catalog-item">
                    <a class="mobile__catalog-link" href="">ICEMELT</a>
                  </li>
                  <li class="mobile__catalog-item">
                    <a class="mobile__catalog-link" href="">DMS</a>
                  </li>
                  <li class="mobile__catalog-item">
                    <a class="mobile__catalog-link" href="">DMS</a>
                  </li>
                  <li class="mobile__catalog-item">
                    <a class="mobile__catalog-link" href="">Баскунчак</a>
                  </li>
                  <li class="mobile__catalog-item">
                    <a class="mobile__catalog-link" href="">Карелия Тайп</a>
                  </li>
                  <li class="mobile__catalog-item">
                    <a class="mobile__catalog-link" href="">Пескодром</a>
                  </li>
                  <li class="mobile__catalog-item">
                    <a class="mobile__catalog-link" href="">Урал Ресурс</a>
                  </li>
                </ul>
              </div>
            </li>
            <li class="mobile__catalog-item" data-action="show-catalog-submenu">
              <span class="mobile__catalog-title"
                >Сухие строительные смеси</span
              >

              <div class="mobile__catalog-content">
                <ul class="mobile__catalog-items">
                  <li class="mobile__catalog-item">
                    <a class="mobile__catalog-link" href=""
                      >Рабочая температура</a
                    >
                  </li>
                  <li class="mobile__catalog-item">
                    <a class="mobile__catalog-link" href="">От -10 до -20 С</a>
                  </li>
                  <li class="mobile__catalog-item">
                    <a class="mobile__catalog-link" href="">От -20 до -30 С</a>
                  </li>
                  <li class="mobile__catalog-item">
                    <a class="mobile__catalog-link" href="">От -30 и выше</a>
                  </li>
                </ul>

                <ul class="mobile__catalog-items">
                  <li class="mobile__catalog-item">
                    <a class="mobile__catalog-link" href=""
                      >Действующее вещество</a
                    >
                  </li>
                  <li class="mobile__catalog-item">
                    <a class="mobile__catalog-link" href=""
                      >Минеральный галит</a
                    >
                  </li>
                  <li class="mobile__catalog-item">
                    <a class="mobile__catalog-link" href="">Пескосоль</a>
                  </li>
                  <li class="mobile__catalog-item">
                    <a class="mobile__catalog-link" href="">Хлорид кальция</a>
                  </li>
                  <li class="mobile__catalog-item">
                    <a class="mobile__catalog-link" href="">Хлорид магния</a>
                  </li>
                  <li class="mobile__catalog-item">
                    <a class="mobile__catalog-link" href="">Гранитная крошка</a>
                  </li>
                </ul>

                <ul class="mobile__catalog-items">
                  <li class="mobile__catalog-item">
                    <a class="mobile__catalog-link" href="">Производитель</a>
                  </li>
                  <li class="mobile__catalog-item">
                    <a class="mobile__catalog-link" href="">Бионорд</a>
                  </li>
                  <li class="mobile__catalog-item">
                    <a class="mobile__catalog-link" href="">ICEHIT</a>
                  </li>
                  <li class="mobile__catalog-item">
                    <a class="mobile__catalog-link" href="">ICEMELT</a>
                  </li>
                  <li class="mobile__catalog-item">
                    <a class="mobile__catalog-link" href="">DMS</a>
                  </li>
                  <li class="mobile__catalog-item">
                    <a class="mobile__catalog-link" href="">DMS</a>
                  </li>
                  <li class="mobile__catalog-item">
                    <a class="mobile__catalog-link" href="">Баскунчак</a>
                  </li>
                  <li class="mobile__catalog-item">
                    <a class="mobile__catalog-link" href="">Карелия Тайп</a>
                  </li>
                  <li class="mobile__catalog-item">
                    <a class="mobile__catalog-link" href="">Пескодром</a>
                  </li>
                  <li class="mobile__catalog-item">
                    <a class="mobile__catalog-link" href="">Урал Ресурс</a>
                  </li>
                </ul>
              </div>
            </li>
            <li class="mobile__catalog-item" data-action="show-catalog-submenu">
              <span class="mobile__catalog-title">АЦЭИД</span>
            </li>
            <li class="mobile__catalog-item" data-action="show-catalog-submenu">
              <span class="mobile__catalog-title">Асбестоцементные листы</span>
            </li>
            <li class="mobile__catalog-item" data-action="show-catalog-submenu">
              <span class="mobile__catalog-title">Асбестоцементные трубы</span>
            </li>
            <li class="mobile__catalog-item" data-action="show-catalog-submenu">
              <span class="mobile__catalog-title">Химреактивы</span>
            </li>
            <li class="mobile__catalog-item" data-action="show-catalog-submenu">
              <span class="mobile__catalog-title"
                >Асбестоцементные изделия</span
              >
            </li>
            <li class="mobile__catalog-item" data-action="show-catalog-submenu">
              <span class="mobile__catalog-title">Модифицированные смеси</span>
            </li>
            <li class="mobile__catalog-item" data-action="show-catalog-submenu">
              <span class="mobile__catalog-title">Плоский шифер</span>
            </li>
            <li class="mobile__catalog-item" data-action="show-catalog-submenu">
              <span class="mobile__catalog-title">Щебень</span>
            </li>
            <li class="mobile__catalog-item" data-action="show-catalog-submenu">
              <span class="mobile__catalog-title">Металлопрокат</span>
            </li>
            <li class="mobile__catalog-item" data-action="show-catalog-submenu">
              <span class="mobile__catalog-title">Металлопрокат</span>
            </li>
            <li class="mobile__catalog-item" data-action="show-catalog-submenu">
              <span class="mobile__catalog-title">ЖБИ</span>
            </li>
            <li class="mobile__catalog-item" data-action="show-catalog-submenu">
              <span class="mobile__catalog-title">Стеновые материалы</span>
            </li>
            <li class="mobile__catalog-item" data-action="show-catalog-submenu">
              <span class="mobile__catalog-title">Другое</span>
            </li>
          </ul>
        </li>
        <!-- other links -->
        <li class="mobile__menu-item mobile__menu-item--main-menu">
          <a class="mobile__menu-link" href="">Цемент1</a>
        </li>
        <li class="mobile__menu-item mobile__menu-item--main-menu">
          <a class="mobile__menu-link" href="">Цемент2</a>
        </li>
        <li class="mobile__menu-item mobile__menu-item--main-menu">
          <a class="mobile__menu-link" href="">Цемент3</a>
        </li>
        <li class="mobile__menu-item mobile__menu-item--main-menu">
          <a class="mobile__menu-link" href="">Цемент4</a>
        </li>
        <li class="mobile__menu-item mobile__menu-item--main-menu">
          <a class="mobile__menu-link" href="">Цемент5</a>
        </li>
        <li class="mobile__menu-item mobile__menu-item--main-menu">
          <a class="mobile__menu-link" href="">Магазин</a>
        </li>
        <li class="mobile__menu-item mobile__menu-item--main-menu">
          <a class="mobile__menu-link" href="">О компании</a>
        </li>
        <li class="mobile__menu-item mobile__menu-item--main-menu">
          <a class="mobile__menu-link" href="">Доставка</a>
        </li>
        <li class="mobile__menu-item mobile__menu-item--main-menu">
          <a class="mobile__menu-link" href="">Оплата</a>
        </li>
        <li class="mobile__menu-item mobile__menu-item--main-menu">
          <a class="mobile__menu-link" href="">Статьи</a>
        </li>
        <li class="mobile__menu-item mobile__menu-item--main-menu">
          <a class="mobile__menu-link" href="">Контакты</a>
        </li>
        <li class="mobile__menu-item mobile__menu-item--main-menu">
          <a class="mobile__menu-link" href="">Прайс-лист</a>
        </li>
        <li class="mobile__menu-item mobile__menu-item--main-menu">
          <div class="mobile__menu-item-wrapper">
            <img src="../icons/max.svg" alt="" />
            <a class="mobile__menu-link" href="">Max</a>
          </div>
        </li>
        <li class="mobile__menu-item mobile__menu-item--main-menu">
          <div class="mobile__menu-item-wrapper">
            <img src="../icons/whatsapp.svg" alt="" />
            <a class="mobile__menu-link" href="">Whatsapp</a>
          </div>
        </li>

        <li
          class="mobile__menu-item mobile__menu-item--text mobile__menu-item--main-menu"
        >
          <div class="mobile__menu-item-wrapper">
            <img src="../icons/clock.svg" alt="" />
            <span class="color--gray">Пн-Пт:</span
            ><span class="color--primary-900">с 9:00 до 18:00</span>
          </div>
        </li>
        <li class="mobile__menu-item mobile__menu-item--main-menu">
          <div class="mobile__menu-item-wrapper">
            <img src="../icons/mail.svg" alt="" />
            <span class="color--gray">E-mail:</span
            ><a class="mobile__menu-link" href="mailto:">info@cement-snab.ru</a>
          </div>
        </li>
        <li class="mobile__menu-item mobile__menu-item--main-menu">
          <div class="mobile__menu-item-wrapper">
            <img src="../icons/phone.svg" alt="" />
            <a class="mobile__menu-link" href="tel:">+7 (499) 398-05-91</a>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
