<div class="popup popup--one-click">
  <div class="button popup__close"></div>
  <div class="popup__top">
    <span class="popup__title">Заказ в 1 клик</span>
    <h2 class="popup__subtitle">
      Монтажно-кладочная смесь М200 «Академия Смеси», 50кг (-15°С)
    </h2>
  </div>
  <div class="popup__content">
    <form class="form" action="">
      <div class="form__inputs">
        <input class="input" type="text" name="" id="" placeholder="Ваше имя" />
        <input
          class="input"
          type="text"
          name=""
          id=""
          placeholder="Ваша фамилия"
        />
        <input
          class="input"
          type="text"
          name=""
          id=""
          placeholder="Номер телефона"
        />
        <input
          class="input"
          type="text"
          name=""
          id=""
          placeholder="Ваш e-mail"
        />
      </div>
      <div class="form__cart">
        <div class="form__cart-wrapper">
          <span class="form__cart-text">Количество товара</span>
          <div class="quantity">
            <button class="quantity__minus">-</button>
            <input class="quantity__input" type="number" value="0" />
            <button class="quantity__plus">+</button>
          </div>
        </div>

        <div class="form__cart-wrapper">
          <span class="form__cart-text">Сумма</span>
          <div class="form__cart-summa">
            <span class="form__cart-summa-value">600</span>

            <span class="form__cart-text form__cart-text--gray"
              >без учёта доставки</span
            >
          </div>
        </div>
      </div>
      <div class="form__agree">
        <div class="checkbox">
          <input type="checkbox" name="" id="one-click-agree" />
          <label for="one-click-agree"
            ><span class="form__agree-text"
              >Я даю разрешение на обработку
              <a class="form__agree-link" href=""
                >персональных данных согласие на обработку персональных
                данных</a
              ></span
            >
          </label>
        </div>
        <p class="form__agree-text form__agree-text--right">
          Ознакомиться с
          <a class="form__agree-link" href="">политикой конфиденциальности</a>
        </p>
      </div>
      <button class="button button--accent">Отправить</button>
    </form>
  </div>
</div>

<!-- <div
  class="modal fade in"
  id="myModal-oneclick"
  tabindex="-1"
  role="dialog"
  aria-labelledby="myModalLabel"
  aria-hidden="true"
  style="display: block"
>
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <span class="modal-close" data-dismiss="modal">&times;</span>
      <div class="modal-body">
        <div class="modal-win">
          <div class="modal-name">ЗАКАЗАТЬ</div>
          <div class="js-title">Сухая смесь м150 биг-бэг с ПМД</div>
          <div class="js-price"></div>

          <div
            class="wpcf7 no-js"
            id="wpcf7-f3319-o3"
            lang="ru-RU"
            dir="ltr"
            data-wpcf7-id="3319"
          >
            <div class="screen-reader-response">
              <p role="status" aria-live="polite" aria-atomic="true"></p>
              <ul></ul>
            </div>
            <form
              action="/product/suhaya-smes-m150-big-beg-1000kg-s-pmd#wpcf7-f3319-o3"
              method="post"
              class="wpcf7-form init"
              aria-label="Контактная форма"
              novalidate="novalidate"
              data-status="init"
            ></form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->
