<div class="popup popup--search">
  <div class="button popup__close"></div>
  <div class="popup__top">
    <h2 class="popup__subtitle">Введите поисковый запрос</h2>
  </div>
  <div class="popup__content">
    <form action="" class="form">
      <div class="form__search">
        <input
          class="form__search-input"
          type="text"
          name=""
          id=""
          placeholder="Поиск"
        />
        <button class="form__search-button">Найти</button>
      </div>
    </form>
  </div>
</div>
