<div
  class="modal fade in"
  id="modal-callback"
  tabindex="-1"
  role="dialog"
  aria-labelledby="myModalLabel"
  aria-hidden="true"
  style="display: block; padding-right: 0px"
>
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <span class="modal-close" data-dismiss="modal">×</span>
      <div class="modal-body">
        <div class="modal-win">
          <div class="modal-name">Заказ звонка</div>

          <div
            class="wpcf7 no-js"
            id="wpcf7-f2064-o2"
            lang="ru-RU"
            dir="ltr"
            data-wpcf7-id="2064"
          >
            <div class="screen-reader-response">
              <p role="status" aria-live="polite" aria-atomic="true"></p>
              <ul></ul>
            </div>
            <form
              action="/product-category/tsement#wpcf7-f2064-o2"
              method="post"
              class="wpcf7-form init"
              aria-label="Контактная форма"
              novalidate="novalidate"
              data-status="init"
            >
              <fieldset class="hidden-fields-container">
                <input type="hidden" name="_wpcf7" value="2064" /><input
                  type="hidden"
                  name="_wpcf7_version"
                  value="6.1.4"
                /><input
                  type="hidden"
                  name="_wpcf7_locale"
                  value="ru_RU"
                /><input
                  type="hidden"
                  name="_wpcf7_unit_tag"
                  value="wpcf7-f2064-o2"
                /><input
                  type="hidden"
                  name="_wpcf7_container_post"
                  value="0"
                /><input
                  type="hidden"
                  name="_wpcf7_posted_data_hash"
                  value=""
                /><input type="hidden" name="_wpcf7_recaptcha_response" />
              </fieldset>
              <div class="req">
                <p>
                  <span class="wpcf7-form-control-wrap" data-name="text-581"
                    ><input
                      _size="40"
                      maxlength="400"
                      class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required"
                      aria-required="true"
                      aria-invalid="false"
                      placeholder="Ваше имя"
                      value=""
                      type="text"
                      name="text-581"
                  /></span>
                </p>
              </div>
              <div class="req">
                <p>
                  <span class="wpcf7-form-control-wrap" data-name="tel-201"
                    ><input
                      _size="40"
                      maxlength="400"
                      class="wpcf7-form-control wpcf7-tel wpcf7-validates-as-required wpcf7-text wpcf7-validates-as-tel"
                      aria-required="true"
                      aria-invalid="false"
                      placeholder="Номер телефона"
                      value=""
                      type="tel"
                      name="tel-201"
                  /></span>
                </p>
              </div>
              <div>
                <p>
                  <span
                    class="wpcf7-form-control-wrap"
                    data-name="textarea-723"
                  >
                    <textarea
                      _cols="40"
                      _rows="10"
                      maxlength="2000"
                      class="wpcf7-form-control wpcf7-textarea"
                      aria-invalid="false"
                      placeholder="Комментарий"
                      name="textarea-723"
                    ></textarea>
                  </span>
                </p>
              </div>
              <div class="data">
                <p>
                  <span
                    class="wpcf7-form-control-wrap"
                    data-name="acceptance-475"
                    ><span class="wpcf7-form-control wpcf7-acceptance"
                      ><span class="wpcf7-list-item"
                        ><input
                          type="checkbox"
                          name="acceptance-475"
                          value="1"
                          aria-invalid="false" /></span></span
                  ></span>
                </p>
                <p>
                  Я даю разрешение на обработку персональных данных
                  <a href="/soglasie" target="_blank">Согласие</a>
                </p>
                <p>
                  Ознакомиться с
                  <a href="/politika-konfidentsialnosti" target="_blank"
                    >политикой конфиденциальности</a
                  >
                </p>
              </div>
              <p>
                <input
                  class="wpcf7-form-control wpcf7-submit has-spinner"
                  type="submit"
                  value="Отправить"
                />
              </p>
              <input
                type="hidden"
                name="_pvb_ajax_calc_nonce"
                value="11b8ce04e9"
              />
              <div class="wpcf7-response-output" aria-hidden="true"></div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- <div class="popup popup--callback">
  <div class="button popup__close"></div>
  <div class="popup__top">
    <h2 class="popup__subtitle">Обратный звонок</h2>
  </div>
  <div class="popup__content">
    <form class="form">
      <div class="form__inputs">
        <input class="input" type="text" name="" id="" placeholder="Ваше имя" />
        <input
          class="input"
          type="text"
          name=""
          id=""
          placeholder="Ваша фамилия"
        />
        <input
          class="input"
          type="text"
          name=""
          id=""
          placeholder="Номер телефона"
        />
        <textarea name="" id="" placeholder="Комментарий"></textarea>
      </div>

      <div class="form__agree">
        <div class="checkbox">
          <input type="checkbox" name="" id="callback-agree" />
          <label for="callback-agree"
            ><span class="form__agree-text"
              >Я даю разрешение на обработку
              <a class="form__agree-link" href=""
                >персональных данных согласие на обработку персональных
                данных</a
              ></span
            >
          </label>
        </div>
        <p class="form__agree-text">
          Ознакомиться с
          <a class="form__agree-link" href="">политикой конфиденциальности</a>
        </p>
      </div>
      <button class="button button--accent">Отправить</button>
    </form>
  </div>
</div> -->
