<div class="popup popup--search">
  <div class="button popup__close"></div>
  <div class="popup__top">
    <h2 class="popup__subtitle">Введите поисковый запрос</h2>
  </div>
  <div class="popup__content">
    <form action="" class="form">
      <div class="form__search">
        <input
          class="form__search-input"
          type="text"
          name=""
          id=""
          placeholder="Поиск"
        />
        <button class="form__search-button">Найти</button>
      </div>
    </form>
  </div>
</div>

<div
  class="modal fade in"
  id="myModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="myModalLabel"
  aria-hidden="true"
  style="display: block"
>
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <span class="modal-close" data-dismiss="modal">×</span>
      <div class="modal-body">
        <div class="modal-win">
          <div class="modal-name">Заказ звонка</div>

          <div
            class="wpcf7 no-js"
            id="wpcf7-f2064-o2"
            lang="ru-RU"
            dir="ltr"
            data-wpcf7-id="2064"
          >
            <div class="screen-reader-response">
              <p role="status" aria-live="polite" aria-atomic="true"></p>
              <ul></ul>
            </div>
            <form
              action="/#wpcf7-f2064-o2"
              method="post"
              class="wpcf7-form init"
              aria-label="Контактная форма"
              novalidate="novalidate"
              data-status="init"
            >
              <fieldset class="hidden-fields-container">
                <input type="hidden" name="_wpcf7" value="2064" /><input
                  type="hidden"
                  name="_wpcf7_version"
                  value="6.1.4"
                /><input
                  type="hidden"
                  name="_wpcf7_locale"
                  value="ru_RU"
                /><input
                  type="hidden"
                  name="_wpcf7_unit_tag"
                  value="wpcf7-f2064-o2"
                /><input
                  type="hidden"
                  name="_wpcf7_container_post"
                  value="0"
                /><input
                  type="hidden"
                  name="_wpcf7_posted_data_hash"
                  value=""
                /><input
                  type="hidden"
                  name="_wpcf7_recaptcha_response"
                  value="0cAFcWeA50we2fzVacyQO9d8PeMDYUHls1svZaIW9uWTaxVj26aEoXhmTEQQPxUWe-fBJx5gnpXG7KyPkp_vjucNlm7pebiBVc_QgR8iXfZi8ZjoKF8NZ0rB7iwDpqNkmk-040j013BwzQplvif0E3fqO_ijnnyGSIDsXI4LZ-5Y-HF4s1FnB9GUNWKEPMFVBhJZonCeihbzi_K34AozQiwCQYFrdfHTu4PR5I7rbFkquAsnayASDCjs-aUSyXXnSuE1Htn5IubAXWUej-LmSdQzjD_hqdtKMsEEX1lizW35koSj9hh68qeQ6EYT6c8vzqZtqRFV1MAppIN1QMZnaytjCHrXvuIqj3diVvK3QNLvFhDTj7vBIFnZ4a96LK4yGMnQVWX3MNcgBMz7EeSaQQM0Wa2DxgAkCGn3GKnFtAubr54J1uu02ASLb_LjWcAUFSkr_frc9fvp214bPqXTNf2i0-_1_UyQw_XYXD9b4N6uTDZ9QACn3wxORziGUVDPWrmxOTOvjJ5awUK5ddHdBxWVVxTlJX_1xuKWPQowzNrFGCAyioUxci5nBqEToZb85Y18abV-sHO3LCU8A58Z-o9RfFyo-inRLEyTWZoXRKUi-MQutsZpsKMWCdYJjsPawPT_MFa5tfJQ4EOdZdoygusVXgaVkkcDcESQQr7fT6TDoWXHzsY15GwaToSSzuC_FkkzcEq0J6znlv3zLllfljLMkzmDbXL3eoa2W5lant-XuV93FI11FKYK5taWkXCq8FrDLSRPemZKpuFhExQH4zo0PDCfA8m_WQRaYibPUCAz6Ej25fut0VzinooPyLA1Sq-eHyWMgsLa_UwTx4zGc5Jghbi4W4rrfxbynqWfMpubBKCokccdtUd5Pi9iAfRynL0ySnIEkCuuWFTior_JpQ1WzUWGsiCKTkhsxtsggkJIjQEohxlk6SCakBC1wqZnJBKzbuPSVxkJVmMBE7Bm6jy060epFYL2jGro0q_0H9ljBx-knzvFmyopuMvcdcrrtZ94lxWAp_9cpDHmcyFmiKvzTVyvmm63uzVtAbeBAkGZPtUv0cOyKXDQjp8ugp6ZJyibQ-0Du9g0RnPJBms7G96JkXQt294Du4dYX39Gle1FplfZbW78zFh3khqpnZCvRGu1zpQp2D4dALwuhTDbT5LqovaL3Vtef5Fg3-TaFEBJWhEQp_95zXGauNQSunFTF_XeoSmk0b4fwu8YzsU2MLOPPbMZjsVTIyGn2YJlzWBpz0wqIvIKiutq1zGm64p91hN0SGul466Kuum4ngelnjffH98oXBgHp-ywRwerBakaLt7L5kDaVyuE2A78GgyXXF3yS25_2dS7i1C6AaFStSmVgepSxj3H2kyVDCdyyL0j9Zn1sQJ5TwUBeOVpkS3tuNS9bMuy9n3xQA_xaafVXHcuGjX5Dw2XtLHewoFwIt6RHc-SauSWXX-BSIpYhrAaEdpZPh6FrJYKNZ3O5PFCv5ebasucZsQckg0DytnVSTkq1-YpjCqw8lKzD2FF7HIjRFCwqZ46BnImcznC4f96cqImD97UwjZPjp1WxJN9hiNPVJY6hzX4ZbYfr8d6DoAWzRYoOJnUSu1jhdbgy44nyF4Yw_2vwedO_Hc0IVuDFDfj0STzhnSbz6qjI4UJqPfyWekA7qabHCk2YR1tDDPWdZ2QO1zQ1m7Q1DqO--IpXVuDOvw_fE9DmuNFpOyuvnZ5jzsf8YdEQRT8dYE_4sBifNI13gxEATB7KRlvxfDmPrrFmOGDxDFkkn2oMZML8rYPoblI43exXQ9lKZ1uKOFZ-ekbB1ydBdy_54AUz3WiqWNMzFiN-dcee0rkTUFbP9roWkQQRd6Ih1WHxO6vFinu7fJmsKo1a-GLx4NUGqfghjq2R0A35zSSSNw5hv4yBQUJk4U4gUOEO179I1a2l6MDdKlsTSeKaOsSx26OWexa_-hWeg8ueweKkZhWAfk-pjOWPJl-sMNalDcXjCzjIVKWZYiiMOYhCKnTD-cV7wOhRSU6OKW62mwUCAhF7ochxLc-V-bkVoc5BcztTC6qe6ctsB5Dzdjmr--Reezhh9oLIzse4GApr5IrwrC2uCgNRGslmiCAasjVpWaT2n"
                />
              </fieldset>
              <div class="req">
                <p>
                  <span class="wpcf7-form-control-wrap" data-name="text-581"
                    ><input
                      size="40"
                      maxlength="400"
                      class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required"
                      aria-required="true"
                      aria-invalid="false"
                      placeholder="Ваше имя"
                      value=""
                      type="text"
                      name="text-581"
                  /></span>
                </p>
              </div>
              <div class="req">
                <p>
                  <span class="wpcf7-form-control-wrap" data-name="tel-201"
                    ><input
                      size="40"
                      maxlength="400"
                      class="wpcf7-form-control wpcf7-tel wpcf7-validates-as-required wpcf7-text wpcf7-validates-as-tel"
                      aria-required="true"
                      aria-invalid="false"
                      placeholder="Номер телефона"
                      value=""
                      type="tel"
                      name="tel-201"
                  /></span>
                </p>
              </div>
              <div>
                <p>
                  <span
                    class="wpcf7-form-control-wrap"
                    data-name="textarea-723"
                  >
                    <textarea
                      cols="40"
                      rows="10"
                      maxlength="2000"
                      class="wpcf7-form-control wpcf7-textarea"
                      aria-invalid="false"
                      placeholder="Комментарий"
                      name="textarea-723"
                    ></textarea>
                  </span>
                </p>
              </div>
              <div class="data">
                <p>
                  <span
                    class="wpcf7-form-control-wrap"
                    data-name="acceptance-475"
                    ><span class="wpcf7-form-control wpcf7-acceptance"
                      ><span class="wpcf7-list-item"
                        ><input
                          type="checkbox"
                          name="acceptance-475"
                          value="1"
                          aria-invalid="false" /></span></span
                  ></span>
                </p>
                <p>
                  Я даю разрешение на обработку персональных данных
                  <a href="/soglasie" target="_blank">Согласие</a>
                </p>
                <p>
                  Ознакомиться с
                  <a href="/politika-konfidentsialnosti" target="_blank"
                    >политикой конфиденциальности</a
                  >
                </p>
              </div>
              <p>
                <input
                  class="wpcf7-form-control wpcf7-submit has-spinner"
                  type="submit"
                  value="Отправить"
                />
              </p>
              <input
                type="hidden"
                name="_pvb_ajax_calc_nonce"
                value="3f1184d978"
              />
              <div class="wpcf7-response-output" aria-hidden="true"></div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
