<div class="popup popup--callback">
  <div class="button popup__close"></div>
  <div class="popup__top">
    <h2 class="popup__subtitle">Обратный звонок</h2>
  </div>
  <div class="popup__content">
    <form class="form">
      <div class="form__inputs">
        <input class="input" type="text" name="" id="" placeholder="Ваше имя" />
        <input
          class="input"
          type="text"
          name=""
          id=""
          placeholder="Ваша фамилия"
        />
        <input
          class="input"
          type="text"
          name=""
          id=""
          placeholder="Номер телефона"
        />
        <textarea name="" id="" placeholder="Комментарий"></textarea>
      </div>

      <div class="form__agree">
        <div class="checkbox">
          <input type="checkbox" name="" id="callback-agree" />
          <label for="callback-agree"
            ><span class="form__agree-text"
              >Я даю разрешение на обработку
              <a class="form__agree-link" href=""
                >персональных данных согласие на обработку персональных
                данных</a
              ></span
            >
          </label>
        </div>
        <p class="form__agree-text">
          Ознакомиться с
          <a class="form__agree-link" href="">политикой конфиденциальности</a>
        </p>
      </div>
      <button class="button button--accent">Отправить</button>
    </form>
  </div>
</div>
