<div
  class="modal fade in"
  id="modal-one-click"
  tabindex="-1"
  role="dialog"
  aria-labelledby="myModalLabel"
  aria-hidden="true"
  style="display: block"
>
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <span class="modal-close" data-dismiss="modal">×</span>
      <div class="modal-body">
        <div class="modal-win">
          <div class="modal-name">Заказ в 1 клик</div>
          <div class="js-title">
            Монтажно-кладочная смесь М200 «Академия Смеси», 50кг (-15°С)
          </div>
          <div class="js-price"></div>

          <div
            class="wpcf7 no-js"
            id="wpcf7-f3319-o3"
            lang="ru-RU"
            dir="ltr"
            data-wpcf7-id="3319"
          >
            <div class="screen-reader-response">
              <p role="status" aria-live="polite" aria-atomic="true"></p>
              <ul></ul>
            </div>
            <form
              action="/product/bionord-pro-plus-meshok-23kg#wpcf7-f3319-o3"
              method="post"
              class="wpcf7-form init"
              aria-label="Контактная форма"
              novalidate="novalidate"
              data-status="init"
            >
              <fieldset class="hidden-fields-container">
                <input type="hidden" name="_wpcf7" value="3319" /><input
                  type="hidden"
                  name="_wpcf7_version"
                  value="6.1.4"
                /><input
                  type="hidden"
                  name="_wpcf7_locale"
                  value="ru_RU"
                /><input
                  type="hidden"
                  name="_wpcf7_unit_tag"
                  value="wpcf7-f3319-o3"
                /><input
                  type="hidden"
                  name="_wpcf7_container_post"
                  value="0"
                /><input
                  type="hidden"
                  name="_wpcf7_posted_data_hash"
                  value=""
                /><input
                  type="hidden"
                  name="_wpcf7_recaptcha_response"
                  value="0cAFcWeA6CHV5WJ8pM-HMJyeXmhezL0eqsvGgrUnfnrSe5APHOTZBDHmTzEBzqorwr8c9-fRmknfsBdbwv8qijqirQNuMQXP-4XFfFn6PbQ8w5ZKLN0HSIP-VBAM0aJMncj3EIFriIr0Vk9Lk68NULMOzqxmn0lF4_4odS4Gf93X8ikV77cIe0ILKc0D1d7tX1PqSt1WQYJXaHCuBhNnxlTwMV-_-V-iKMp1McvDodDpAEtyMzaYZ_vTkhSPQOsMA7jMGpQi0xAMTjqEBDIswxy6J61QGy2piwX8s8X4Hm4957wn3y3xiGjojE1LgEtpw1MR745BZdNw330emOHlaMDRmJf-9IdJdX1aZ_384aF_IGIoai5GkgrBP__K1gHMVVBpxSpEjWYLDmXW-qzjjGMd2DIrxlZY0QjXhW8rRnNXx_s5fIcyE_2HPYGxrykE1hR_bT3ZXtkcQB6iNmyLKxJsdZH6765WtJBZ505x19FMxrkvrdhWQFinKc8-WiMAWJB_gInf9OUznz8CSaFugS6Vo5kHFYXwAspQY6mmWOVWD5270jC7NCAP4kCTy1w4Hi2leIA6YABCtosSTKW7U9VqPuS7ItuSPCDb6MkGcD-xqqvuJdPfzwvEGpq7Lwfs4tny9uJCpsTGxgx1TtYz95vDNxyFa2-i6IrpqWNKEafbB4H7rMM2qsx_DIrhEzMZMqceeo8C7mqY0_f91-3l2t8ECd0DvrRnx62W51bhJK5_eXRRGVGsmK38iDxCPJPzwlf7nthovGSVJ4mT6z7ZxKCQtgmSNKSKjtRuqKZJJD0xEfjhKvFYLtQk_M7gNr3ZgvdzROVyhxzz-svqUfo8zUtMlBfLh0mKFfvN5Cia2Gbn5z_WMqsZMKdwxE28p7p-hNa2D8g2T9SBeCD72IkoZh9TqPbocwn13FcOKpSFR79f5Kl1BYV9WCYhnUkjH1FkD7jn9aS6zqB1WgGs2ZG4OKZ50dOp5vQOKNm9O6lWA2K90mvnStLN-psOxBncL4Kh48y8ePiJpOErnIZmB8yKECGzF7EqrEaI-GvUn8WGZEZOaYjmbrnyhkhGDsp4N7CNS58f8jKzfz1kMa72jCSNJ98_QM5Rj-fkuhTrNX-VWCoMdoQYNE7uxX2Fsbm38Ylhxs_WJqdOr9SamRZMV9CdBwUnBIUryCuOCCO9dOqMd7o_9RtJIGvlJlZSOP-wCCJh_YaRZRFkJrI4Fs42i7w_IwfSWcS6G8poYnmJqzaWnXwS0hp1zJzODxk3GUdKQ-gFkD9YARtSBBrvXexNLDUh72Y_rIcN5ZnCEuiyqV4LWtVNdIkw2zafXbQUmcmVGbOpPTZ2SwWLttEvj1CcK39tpRA1r02Nat8JKU39g4HZZPzh_SxWd9Fwn01NpBG5Mb1Ku2_M18bKVYXAyPlBy9z71lI6aLVCMaVAHymJgZPNMyuevOHpDFLJyNnnU976uq3jYb-yxYlI91CFJPKHPxrraX3J0dSmd_sXg-dauqyimS7Hdgjv7v2rGfJZQQmph7G3OpsDEhZx5EOlyNPpHmZzv6TVCaq3zuvXcWqENwIs5p37Dp4xJQnxFrS3RnQwUZi2xDTb-GSsZznCbMGsjLMVcHIF3xteyEkK-1RsRvmoCvnheiKsdd8xvpGlRJJa6PldwHMprDl2Np8xBmN58CWB2b-CoC4jC67mKmWwy97wU7WzD4Qh1xZYRa056a8kPMLjsFuZitL1-tUruwHqlY2Xxt58kc3N_bU1FKZDaocMdkHwKoP7yFUdM6aR8ClIaSkzuvxUFUuiQACZOZZzaayH1pW1r12-beKXIrrlxCot9JoudKkNBQIiKF0TjCitbIsWRBQva43gGSrv7lmspWBrV4B5lIUpyof7SjeeVY3PwG0Tlq8F3PpfKO80UlfbLoiQnkGYSnFxjcOsC7YG3o_0EghqO4BzzxJzzGVeFeW3YNuOZdmz5B94P-hjKda2ogco1rLcqiB5corsa6wzUopET34EjxdlIM7XBnlqkZIG-hNR2XWDDa2D6uXAVGUn-wNp9LC9dMKzPfijV1Fh2mIES-DjVB48ca7kUyd9A-atBE4rW15WskaUJvbw6CL6Sam--Z7NkGXaceJpjJk70kkhrRBMdB0nTbGPTiFrGJjqUapyXrlIfl_pVBXZQ"
                />
              </fieldset>
              <div class="row">
                <div class="col-md-6 req">
                  <p>
                    <span class="wpcf7-form-control-wrap" data-name="text-581"
                      ><input
                        size="40"
                        maxlength="400"
                        class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required"
                        aria-required="true"
                        aria-invalid="false"
                        placeholder="Ваше имя"
                        value=""
                        type="text"
                        name="text-581"
                    /></span>
                  </p>
                </div>
                <div class="col-md-6">
                  <p>
                    <span class="wpcf7-form-control-wrap" data-name="text-581"
                      ><input
                        size="40"
                        maxlength="400"
                        class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required"
                        aria-required="true"
                        aria-invalid="false"
                        placeholder="Фамилия"
                        value=""
                        type="text"
                        name="text-581"
                    /></span>
                  </p>
                </div>
                <div class="col-md-6 req">
                  <p>
                    <span class="wpcf7-form-control-wrap" data-name="tel-201"
                      ><input
                        size="40"
                        maxlength="400"
                        class="wpcf7-form-control wpcf7-tel wpcf7-validates-as-required wpcf7-text wpcf7-validates-as-tel"
                        aria-required="true"
                        aria-invalid="false"
                        placeholder="Введите номер телефона"
                        value=""
                        type="tel"
                        name="tel-201"
                    /></span>
                  </p>
                </div>
                <div class="col-md-6">
                  <p>
                    <span class="wpcf7-form-control-wrap" data-name="email-727"
                      ><input
                        size="40"
                        maxlength="400"
                        class="wpcf7-form-control wpcf7-email wpcf7-validates-as-required wpcf7-text wpcf7-validates-as-email"
                        aria-required="true"
                        aria-invalid="false"
                        placeholder="Ваш email"
                        value=""
                        type="email"
                        name="email-727"
                    /></span>
                  </p>
                </div>
                <div class="col-md-6 modate">
                  <p>
                    Введите количество
                    <span class="wpcf7-form-control-wrap" data-name="numo"
                      ><input
                        class="wpcf7-form-control wpcf7-number wpcf7-validates-as-number"
                        aria-invalid="false"
                        placeholder="0"
                        value=""
                        type="number"
                        name="numo"
                    /></span>
                  </p>
                </div>
                <div class="col-md-6 modate">
                  <p>
                    Стоимость
                    <span class="wpcf7-form-control-wrap" data-name="action"
                      ><input
                        class="wpcf7-form-control wpcf7-number wpcf7-validates-as-number"
                        aria-invalid="false"
                        placeholder="Введите стоимость"
                        value=""
                        type="number"
                        name="action"
                    /></span>
                  </p>
                </div>
                <div class="col-md-6 modate">
                  <p>
                    Итого
                    <span class="wpcf7-form-control-wrap calculated-976"
                      ><input
                        data-number="0"
                        size="40"
                        class="wpcf7-form-control wpcf7-calculated wpcf7-total ctf7-total"
                        readonly="readonly"
                        aria-invalid="false"
                        value="0"
                        type="text"
                        name="calculated-976"
                        data-formulas="numo * action"
                    /></span>
                  </p>
                </div>
                <p>
                  <input
                    type="hidden"
                    name="tovar"
                    value="BIONORD PRO PLUS мешок 23кг"
                    autocomplete="off"
                  />
                </p>
                <div class="col-12 data">
                  <div class="row">
                    <div class="col-md-6">
                      <p>
                        <span
                          class="wpcf7-form-control-wrap"
                          data-name="acceptance-475"
                          ><span class="wpcf7-form-control wpcf7-acceptance"
                            ><span class="wpcf7-list-item"
                              ><input
                                type="checkbox"
                                name="acceptance-475"
                                value="1"
                                aria-invalid="false" /></span></span
                        ></span>
                        Я даю разрешение на обработку персональных данных
                        <a href="/soglasie" target="_blank"
                          >согласие на обработку персональных данных</a
                        >
                      </p>
                    </div>
                    <div class="col-md-6">
                      <p>
                        Ознакомиться с
                        <a href="/politika-konfidentsialnosti" target="_blank"
                          >политикой конфиденциальности</a
                        >
                      </p>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <p>
                    <input
                      class="wpcf7-form-control wpcf7-submit has-spinner"
                      type="submit"
                      value="Отправить"
                    />
                  </p>
                </div>
              </div>
              <input
                type="hidden"
                name="_pvb_ajax_calc_nonce"
                value="861ecd33fb"
              />
              <div class="wpcf7-response-output" aria-hidden="true"></div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="popup popup--one-click">
  <div class="button popup__close"></div>
  <div class="popup__top">
    <span class="popup__title">Заказ в 1 клик</span>
    <h2 class="popup__subtitle">
      Монтажно-кладочная смесь М200 «Академия Смеси», 50кг (-15°С)
    </h2>
  </div>
  <div class="popup__content">
    <form class="form" action="">
      <div class="form__inputs">
        <input class="input" type="text" name="" id="" placeholder="Ваше имя" />
        <input
          class="input"
          type="text"
          name=""
          id=""
          placeholder="Ваша фамилия"
        />
        <input
          class="input"
          type="text"
          name=""
          id=""
          placeholder="Номер телефона"
        />
        <input
          class="input"
          type="text"
          name=""
          id=""
          placeholder="Ваш e-mail"
        />
      </div>
      <div class="form__cart">
        <div class="form__cart-wrapper">
          <span class="form__cart-text">Количество товара</span>
          <div class="quantity">
            <button class="quantity__minus">-</button>
            <input class="quantity__input" type="number" value="0" />
            <button class="quantity__plus">+</button>
          </div>
        </div>

        <div class="form__cart-wrapper">
          <span class="form__cart-text">Сумма</span>
          <div class="form__cart-summa">
            <span class="form__cart-summa-value">600</span>

            <span class="form__cart-text form__cart-text--gray"
              >без учёта доставки</span
            >
          </div>
        </div>
      </div>
      <div class="form__agree">
        <div class="checkbox">
          <input type="checkbox" name="" id="one-click-agree" />
          <label for="one-click-agree"
            ><span class="form__agree-text"
              >Я даю разрешение на обработку
              <a class="form__agree-link" href=""
                >персональных данных согласие на обработку персональных
                данных</a
              ></span
            >
          </label>
        </div>
        <p class="form__agree-text form__agree-text--right">
          Ознакомиться с
          <a class="form__agree-link" href="">политикой конфиденциальности</a>
        </p>
      </div>
      <button class="button button--accent">Отправить</button>
    </form>
  </div>
</div>
