<div class="popup popup--order-error">
  <div class="button popup__close"></div>
  <div class="popup__top">
    <span class="popup__title"></span>
    <h2 class="popup__subtitle">Ошибка!</h2>
    <p class="popup__text">
      Что-то пошло не так при оформлении заказа. Попробуйте еще раз или
      свяжитесь с нами
    </p>
  </div>
  <div class="popup__content">
    <div class="popup__buttons">
      <button class="button button--accent">Попробовать снова</button>
      <button class="button button--second">Позвонить нам</button>
    </div>
  </div>
</div>
