<div class="popup popup--order-ok">
  <div class="button popup__close"></div>
  <div class="popup__top">
    <span class="popup__title popup__title--ok"></span>
    <h2 class="popup__subtitle">Заказ принят</h2>
    <p class="popup__text">
      Мы свяжемся с вами в течении 20 минут для подтверждения заказа
    </p>
  </div>
  <div class="popup__content popup__order">
    <ul class="popup__order-items">
      <li class="popup__order-item">
        <span>Товар</span
        ><span
          >Монтажно-кладочная смесь М200 «Академия Смеси», 50кг (-15°С)</span
        >
      </li>
      <li class="popup__order-item"><span>Количество</span><span>2шт</span></li>
      <li class="popup__order-item">
        <span>Итого</span><span class="popup__order-summa-value">600</span>
      </li>
    </ul>

    <div class="popup__buttons">
      <button class="button button--accent">Продолжить покупки</button>
    </div>
  </div>
</div>
