<div class="cems-panel cems-products">
  <span class="cems-products__title">Похожие товары</span>

  <div class="cems-products-item">
    <div class="cems-products-item__column-1">
      <div class="cems-products-item__image">
        <img src="./images/product--small.jpg" alt="" />
      </div>

      <div class="cems-products-item__wrapper">
        <div class="cems-in-stock">В наличии</div>
        <div class="cems-products-item__title">
          Смесь м300 FINGERS Смесь м300 FINGERS Смесь м300 FINGERS Смесь м300
          FINGERSСмесь м300 FINGERSСмесь м300 FINGERS 50кг
        </div>
      </div>

      <div class="cems-products-item__wrapper cems-place-items--center">
        <span class="cems-products-item__price">160</span>
        <span class="cems-products-item__under">за 1 штуку</span>
      </div>
    </div>

    <div class="cems-products-item__column-2">
      <div class="cems-quantity cems-quantity--products">
        <button class="cems-quantity__minus">-</button>
        <input class="cems-quantity__input" type="number" value="0" />
        <button class="cems-quantity__plus">+</button>
      </div>

      <div class="cems-products-item__description">
        <span class="cems-products-item__price cems-products-item__price--small"
          >160</span
        >
        <p><span>Вес:</span><span class="cems-color--accent">50кг</span></p>
        <p><span>Количество:</span><span class="cems-color--accent">1шт</span></p>
      </div>

      <button class="cems-button cems-button--accent cems-products__button-to-cart">
        В корзину
      </button>
    </div>
  </div>

  <div class="cems-products-item">
    <div class="cems-products-item__column-1">
      <div class="cems-products-item__image">
        <img src="./images/product--small.jpg" alt="" />
      </div>

      <div class="cems-products-item__wrapper">
        <div class="cems-in-stock">В наличии</div>
        <div class="cems-products-item__title">
          Смесь м300 FINGERS Смесь м300 FINGERS Смесь м300 FINGERS Смесь м300
          FINGERSСмесь м300 FINGERSСмесь м300 FINGERS 50кг
        </div>
      </div>

      <div class="cems-products-item__wrapper cems-place-items--center">
        <span class="cems-products-item__price">160</span>
        <span class="cems-products-item__under">за 1 штуку</span>
      </div>
    </div>

    <div class="cems-products-item__column-2">
      <div class="cems-quantity cems-quantity--products">
        <button class="cems-quantity__minus">-</button>
        <input class="cems-quantity__input" type="number" value="0" />
        <button class="cems-quantity__plus">+</button>
      </div>

      <div class="cems-products-item__description">
        <span class="cems-products-item__price cems-products-item__price--small"
          >160</span
        >
        <p><span>Вес:</span><span class="cems-color--accent">50кг</span></p>
        <p><span>Количество:</span><span class="cems-color--accent">1шт</span></p>
      </div>

      <button class="cems-button cems-button--accent cems-products__button-to-cart">
        В корзину
      </button>
    </div>
  </div>
  <div class="cems-products-item">
    <div class="cems-products-item__column-1">
      <div class="cems-products-item__image">
        <img src="./images/product--small.jpg" alt="" />
      </div>

      <div class="cems-products-item__wrapper">
        <div class="cems-in-stock">В наличии</div>
        <div class="cems-products-item__title">
          Смесь м300 FINGERS Смесь м300 FINGERS Смесь м300 FINGERS Смесь м300
          FINGERSСмесь м300 FINGERSСмесь м300 FINGERS 50кг
        </div>
      </div>

      <div class="cems-products-item__wrapper cems-place-items--center">
        <span class="cems-products-item__price">160</span>
        <span class="cems-products-item__under">за 1 штуку</span>
      </div>
    </div>

    <div class="cems-products-item__column-2">
      <div class="cems-quantity cems-quantity--products">
        <button class="cems-quantity__minus">-</button>
        <input class="cems-quantity__input" type="number" value="0" />
        <button class="cems-quantity__plus">+</button>
      </div>

      <div class="cems-products-item__description">
        <span class="cems-products-item__price cems-products-item__price--small"
          >160</span
        >
        <p><span>Вес:</span><span class="cems-color--accent">50кг</span></p>
        <p><span>Количество:</span><span class="cems-color--accent">1шт</span></p>
      </div>

      <button class="cems-button cems-button--accent cems-products__button-to-cart">
        В корзину
      </button>
    </div>
  </div>
</div>
