<div class="panel products">
  <span class="products__title">Похожие товары</span>

  <div class="products-item">
    <div class="products-item__column-1">
      <div class="products-item__image">
        <img src="../images/product--small.jpg" alt="" />
      </div>

      <div class="products-item__wrapper">
        <div class="in-stock">В наличии</div>
        <div class="products-item__title">
          Смесь м300 FINGERS Смесь м300 FINGERS Смесь м300 FINGERS Смесь м300
          FINGERSСмесь м300 FINGERSСмесь м300 FINGERS 50кг
        </div>
      </div>

      <span class="products-item__price">160</span>
    </div>

    <div class="products-item__column-2">
      <div class="quantity quantity--products">
        <button class="quantity__minus">-</button>
        <input class="quantity__input" type="number" value="0" />
        <button class="quantity__plus">+</button>
      </div>

      <div class="products-item__description">
        <span class="products-item__price products-item__price--small"
          >160</span
        >
        <p><span>Вес:</span><span class="color--accent">50кг</span></p>
        <p><span>Количество:</span><span class="color--accent">1шт</span></p>
      </div>

      <button class="button button--accent products__button-to-cart">
        В корзину
      </button>
    </div>
  </div>

  <div class="products-item">
    <div class="products-item__column-1">
      <div class="products-item__image">
        <img src="../images/product--small.jpg" alt="" />
      </div>

      <div class="products-item__wrapper">
        <div class="in-stock">В наличии</div>
        <div class="products-item__title">
          Смесь м300 FINGERS Смесь м300 FINGERS Смесь м300 FINGERS Смесь м300
          FINGERSСмесь м300 FINGERSСмесь м300 FINGERS 50кг
        </div>
      </div>

      <span class="products-item__price">160</span>
    </div>

    <div class="products-item__column-2">
      <div class="quantity quantity--products">
        <button class="quantity__minus">-</button>
        <input class="quantity__input" type="number" value="0" />
        <button class="quantity__plus">+</button>
      </div>

      <div class="products-item__description">
        <span class="products-item__price products-item__price--small"
          >160</span
        >
        <p><span>Вес:</span><span class="color--accent">50кг</span></p>
        <p><span>Количество:</span><span class="color--accent">1шт</span></p>
      </div>

      <button class="button button--accent products__button-to-cart">
        В корзину
      </button>
    </div>
  </div>
  <div class="products-item">
    <div class="products-item__column-1">
      <div class="products-item__image">
        <img src="../images/product--small.jpg" alt="" />
      </div>

      <div class="products-item__wrapper">
        <div class="in-stock">В наличии</div>
        <div class="products-item__title">
          Смесь м300 FINGERS Смесь м300 FINGERS Смесь м300 FINGERS Смесь м300
          FINGERSСмесь м300 FINGERSСмесь м300 FINGERS 50кг
        </div>
      </div>

      <span class="products-item__price">160</span>
    </div>

    <div class="products-item__column-2">
      <div class="quantity quantity--products">
        <button class="quantity__minus">-</button>
        <input class="quantity__input" type="number" value="0" />
        <button class="quantity__plus">+</button>
      </div>

      <div class="products-item__description">
        <span class="products-item__price products-item__price--small"
          >160</span
        >
        <p><span>Вес:</span><span class="color--accent">50кг</span></p>
        <p><span>Количество:</span><span class="color--accent">1шт</span></p>
      </div>

      <button class="button button--accent products__button-to-cart">
        В корзину
      </button>
    </div>
  </div>
</div>
