<div class="swiper cems-product__swiper">
  <div class="swiper-wrapper">
    <div class="cems-swiper-slide">
      <img src="./images/slider/product1.png" />
    </div>
    <div class="cems-swiper-slide">
      <img src="./images/slider/product2.png" />
    </div>
    <div class="cems-swiper-slide">
      <img src="./images/slider/product3.png" />
    </div>
    <div class="cems-swiper-slide">
      <img src="./images/slider/product4.png" />
    </div>
    <div class="cems-swiper-slide">
      <img src="./images/slider/product5.png" />
    </div>
    <div class="cems-swiper-slide">
      <img src="./images/slider/product6.png" />
    </div>
    <div class="cems-swiper-slide">
      <img src="./images/slider/product7.png" />
    </div>
    <div class="cems-swiper-slide">
      <img src="./images/slider/product8.png" />
    </div>
    <div class="cems-swiper-slide">
      <img src="./images/slider/product9.png" />
    </div>
    <div class="cems-swiper-slide">
      <img src="./images/slider/product10.png" />
    </div>
  </div>
  <!-- <div class="cems-swiper-button-next"></div> -->
  <!-- <div class="cems-swiper-button-prev"></div> -->

  <div class="cems-product__swiper-button-next"></div>
  <div class="cems-product__swiper-button-prev"></div>
</div>
<div thumbsSlider="" class="swiper cems-product__swiper-thumbs">
  <div class="swiper-wrapper">
    <div class="cems-swiper-slide">
      <img src="./images/slider/product1.png" />
    </div>
    <div class="cems-swiper-slide">
      <img src="./images/slider/product2.png" />
    </div>
    <div class="cems-swiper-slide">
      <img src="./images/slider/product3.png" />
    </div>
    <div class="cems-swiper-slide">
      <img src="./images/slider/product4.png" />
    </div>
    <div class="cems-swiper-slide">
      <img src="./images/slider/product5.png" />
    </div>
    <div class="cems-swiper-slide">
      <img src="./images/slider/product6.png" />
    </div>
    <div class="cems-swiper-slide">
      <img src="./images/slider/product7.png" />
    </div>
    <div class="cems-swiper-slide">
      <img src="./images/slider/product8.png" />
    </div>
    <div class="cems-swiper-slide">
      <img src="./images/slider/product9.png" />
    </div>
    <div class="cems-swiper-slide">
      <img src="./images/slider/product10.png" />
    </div>
  </div>
</div>
